[2014-06-20 18:47] rfpludwick opened #8 "JSON_BIGINT_AS_STRING not implemented"
There's an issue in some versions of PHP 5.5 where JSON_BIGINT_AS_STRING isn't implemented properly:

json_decode(): option JSON_BIGINT_AS_STRING not implemented
firebase/php-jwt/Firebase/PHP-JWT/Authentication/JWT.php(137): json_decode('{"typ":"JWT","a...', false, 512, 2)

[2014-06-20 19:26] #8 closed, assigned to cbraynor

[2014-06-25 11:57] rs324 opened #9 "option JSON_BIGINT_AS_STRING not implemented"
2014-06-25 06:54:49 --- EMERGENCY: ErrorException [ 2 ]: json_decode(): option JSON_BIGINT_AS_STRING not implemented ~ APPPATH/classes/JWT.php [ 137 ]

my php version is :

PHP 5.5.9-1ubuntu4.1 (cli) (built: Jun 19 2014 20:53:04)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.5.0, Copyright (c) 1998-2014 Zend Technologies
    with Zend OPcache v7.0.3, Copyright (c) 1999-2014, by Zend Technol

[2014-06-25 21:10] #9 closed, assigned to nobody

[2014-07-06 15:56] stephen304 opened #12 "Encode an array, get an object"
I put in an associative array:

[code]

and when I decode, I get an object:

[code]
##

[code]

Is this intentional? Right now I'm just casting it to array, but I think it would be good if it decoded to exactly what was put in?

[2014-07-06 19:21] #12 closed, assigned to nobody

[2014-07-12 09:03] adityamenon opened #13 "Question: why isn't there any verification handling for hash_hmac?"
[This is the line](https://github.com/firebase/php-jwt/blob/c5e07e0c0e8f7c2b0f33f23482d6672eb7798ed2/Authentication/JWT.php#L158) in question. I'm sure I'm missing something out of ignorance...

[2014-07-12 19:33] #13 closed, assigned to nobody

[2014-08-28 10:06] roger-codina opened #15 "Tag in packagist for stable version"
Hi,

We are considering including your library in our application.
Could you please create a tag in packagist in order to have a stable version to include?

Thanks a lot.

[2014-08-28 17:26] #15 closed, assigned to nobody

[2014-09-08 07:56] philjohn opened #16 "Timing attack possible as constant time equality function not used in verify method"
Hi,

When verifying, you're just using ===, which leaves you open to a timing attack.

A constant-time equality test should be used instead, e.g.

[code]

[2014-09-10 01:47] #16 closed, assigned to nobody

[2014-09-24 19:18] victorjonsson opened #18 "Use the self-keyword instead of the class name"
Please replace all use of `JWT::` with  `self::`, since I don't see any reason to use JWT in place of self here.

(edited by Kato: Please keep the commentary civil and productive. Cheers.)

[2014-09-24 20:38] #18 closed, assigned to nobody

[2014-10-29 03:32] alexw23 opened #20 "[Proposal] Descriptive Exception Classes"
Is it possible to have specific exceptions so they can be caught accordingly?

At the moment I am having todo the following:

[code]

Instead I propose the following:

**Declare an exception class (i.e. Exceptions.php)**

[code]

**Handle it in the code**

[code]

**Catch It**

[code]

This can be caught much easier and would have backwards compatibility with devs using `UnexpectedValueException`.

[2014-11-14 22:34] #20 closed, assigned to nobody

[2014-11-18 17:28] sameg14 opened #25 "Why is this not namespaced?"
Having autoloader headaches.

[2014-11-18 17:42] #25 closed, assigned to nobody

[2014-12-29 09:50] Dazag opened #27 "No updated composer file"
I've noticed that the file downloaded by composer is not the same as the last one here in the repository. The file obtained by composer (JWT.php) doesn't have "not before" ($payload->nbf) verification.

[2014-12-29 18:19] #27 closed, assigned to nobody

[2015-01-20 13:16] MichielDeMey opened #28 "Add "sub" (subject) claim validation"
As defined in the [JWT Draft, Section 4.1.2](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.2) you can add a subject as a claim.

Subjects are [`StringOrURI`](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-2), which means that it can either contain a string value or an [RFC 3986](https://tools.ietf.org/html/rfc3986) URI.

However, this PHP librar

[2015-03-17 06:18] minutephp opened #30 "Get result as array instead of Stdclass option"
Hi,

Thanks for this nice little and useful class. I have just one issue.. Right now the JWT class returns StdClass object instead of a simple array.

I was wondering if we can please have the option to return the object as array as well? Maybe as an option.

It would be great because some functions like array_merge, etc **don't** support StdClass and make life a bit harder. All that's needed to b

[2015-04-01 06:28] iamjochem opened #32 "critical vulnerability"
hi there,

you might not be aware yet, but a critical vulnerability has been found and published in your JWT lib, see the following links:

https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/
http://jwt.io/

[2015-04-01 06:57] flyon commented on #32
+1 came here to say the same

[2015-04-01 07:04] sarciszewski commented on #32
I sent #33 to fix it.

[2015-04-01 16:52] robertdimarco commented on #32
#33 Merged to address this issue.

[2015-04-01 16:56] robertdimarco commented on #32
A few add'l changes forthcoming.

[2015-04-01 18:43] robertdimarco commented on #32
See #35 - deploy forthcoming.

[2015-04-01 18:43] #32 closed

[2015-04-01 18:47] robertdimarco commented on #28
@MichielDeMey Thanks for the report - I'll handle this.

[2015-04-04 20:30] rockoo opened #38 "$allowed_algs in decode method constructor is empty"
$allowed_algs is empty and thus Exception "Algorithm not supported" is thrown failing decoding

[2015-04-04 20:32] #38 closed

[2015-04-04 20:33] rockoo commented on #38
Sorry. Just checked change in commit and I see you must pass the alg parameter in decode function

[2015-04-13 16:57] ADmad commented on #30
`$array = json_decode(json_encode($stdClass), true)` Viola you have an array!

[2015-04-15 10:13] zerotolerance opened #40 "Signature verification failed"
Hello all, I have a problem in verifying the following signature in php-jwt, it is successfully verified using jwt.io website, the problem appears just when I try to verify it using php-jwt.
I'm not sure if I missed something, could you tell me for any solution.

eyJhbGciOiAiSFMyNTYiLCJ0eXAiOiAiSldUIn0=.eyJ0aW1lIjoxNDI4OTQyMDcxLCJzdHIiOiJrYXJ0YWwiLCJsYW5ndWFnZSI6InRyIn0=.k4ZteQMHOs+43YxakNjuDfqevg

[2015-04-15 15:35] robertdimarco commented on #40
@zerotolerance Can you include some code for how you're verifying, and what results you're seeing?

[2015-04-15 15:40] tuupola commented on #40
@zerotolerance if you edited the token in jwt.io website and it is signed using their default key 'secret' and not the key you have in PHP code.

[2015-04-15 15:51] zerotolerance commented on #40
@robertdimarco
Thanks for your replies.

$data = "eyJhbGciOiAiSFMyNTYiLCJ0eXAiOiAiSldUIn0=.eyJ0aW1lIjoxNDI4OTQyMDcxLCJzdHIiOiJrYXJ0YWwiLCJsYW5ndWFnZSI6InRyIn0=.k4ZteQMHOs+43YxakNjuDfqevgFSmgwEykrgHxO1Uic="
$api_key = 'secret'
$alg['alg'] = "HS256"

JWT::decode($data, $api_key, array($alg['alg']));

------------------------------------------------------

Later in code when I debugged code, I found

[2015-04-16 15:06] Maykonn opened #41 "Auth, login and logout"
Please, add a better documentation, how to auth an user, make a login and logout with php-jwt. Cause not found nowhere in the web.

[2015-04-16 17:41] robertdimarco commented on #41
@Maykonn This library is not intended as a general purpose authentication framework. It is just one component of a broader authentication story - and fulfills the narrow purpose of minting and decoding / verifying JSON Web Tokens. Specifically, I'd like to avoid adding any "recipes" for this library that would suggest a fully secure system without full knowledge of what JWTs are, how they should b

[2015-04-16 17:41] #41 closed

[2015-04-16 20:13] lcabral37 opened #42 "JWT decode failed due to server time difference"
I noticed there was a minor difference on the server generating the JWT and the server decoding it (on an openid connect project) and although the difference is within millisecs, very often the iat verification failed so I had to read up at the documentation and verify there is some recommendation at least for the exp and the nbf. so I've considered adding a leeway time to all time verification.

[2015-04-21 04:40] chalchis opened #43 "Critical vulnerabilities exist in several JSON Web Token"
Tim McLean
‏@McLean0

If you wrote a JSON Web Tokens library and haven't heard from me, could you contact me please? #jwt #jws #jose #websecurity #vulnerabilities

[2015-04-25 06:55] ykenny opened #44 "Can put it in Controller ?"
I want to build secure api application consult of http://www.toptal.com/web/cookie-free-authentication-with-json-web-tokens-an-example-in-laravel-and-angularjs

As far as  work great in my routes.php, but when i move this code in my controller
   if ( ! $token = JWTAuth::attempt($credentials)) {
       return Response::json(false, HttpResponse::HTTP_UNAUTHORIZED);
   }

it throw exception like thi

[2015-04-27 16:44] robertdimarco commented on #43
@chalchis Can you expand on this issue? The known issues here regarding token verification previously reported have since been resolved.

[2015-04-27 16:44] #43 closed

[2015-05-11 10:38] lcabral37 commented on #42
created a new pull request after new approach  as discussed in the first pull request

[2015-05-11 11:08] lcabral37 commented on #40
A quick notice, I did not manage to replicate this issue and I'm using PHP.5.5.9 which means I'm not using the hash_hmac() function so might this be an issue that occurs only for 5.6 (which will be using hash_hmac())?

[2015-05-11 11:11] lcabral37 commented on #30
as descrived in the README is not the intended behavior?
    $decoded_array = (array) $decoded;

[2015-05-11 11:14] minutephp commented on #30
I know we can just *typecast* the object to (array) but that does not
recursively work for nested arrays. The objects inside still remain of
StdClass :'(

On Mon, May 11, 2015 at 4:41 PM, lcabral37 <notifications@github.com> wrote:

[2015-05-11 11:32] paradokslabs commented on #40
Hi @lcabral37
Yes, I'm using the same version (PHP.5.5.9).

[2015-05-11 11:33] zerotolerance commented on #40
Hi @lcabral37
Yes, I'm using the same version (PHP.5.5.9).

[2015-05-19 21:32] robertdimarco commented on #44
Apologies for the delayed response here. Without more code or a reproducible case, it would be hard to break down what the issue is here. I would recommend using StackOverflow for more help about what your code is doing, and feel free to follow-up here if you think you've run into a bug or missing feature.

[2015-05-19 21:32] #44 closed

[2015-05-19 21:34] robertdimarco commented on #42
:+1: New release coming within 24 hours that will include your changes. Thanks again!

This issue addressed via the new `JWT::$leeway` option added in [#46 - Provide a leeway in verification of times to account for clock skew](https://github.com/firebase/php-jwt/pull/46). This will be released as `v2.1.0`.

[2015-05-19 21:34] #42 closed

[2015-05-19 21:48] robertdimarco commented on #40
I similarly couldn't reproduce this issue on PHP v5.5.23. @zerotolerance Does your snipper above manage to reproduce this reliably for you? Any insight that you could provide for us by digging into the `JWT::verify()` method?

[2015-06-03 02:37] Chimit opened #50 "How to catch an exception?"
I'm trying to use this package with Laravel, but I can't catch an exception. How to do that correctly?

[code]

[2015-06-04 06:30] Hesesses opened #51 "Cannot handle token prior to..."
I'm getting errors like this sometimes:
[code]
The error happens at the same time as the time above.

Why this happens and what I need to do to fix this?

[2015-06-04 16:14] drtriumph commented on #51
You probably have a slight skew between the clock on the server that mints the tokens and the clock on the server that's validating the token - if the `iat` or `nbf` is in the future, then the token isn't yet valid.
One solution would be to use a small leeway, like this:
[code]

[2015-06-04 16:14] #51 closed

[2015-06-09 02:21] #50 closed

[2015-06-11 15:16] CbrandVendini opened #52 "Add name space"
When using a library such as this in a larger framework its very nice to have a properly namespaced file. Could I suggest that you namespace under your Git name:
namespace Firebase;
would be adequate and would insure that there would be no confusion between this library and anything using it that might out of necessity share its name.

[2015-06-11 19:33] tuupola commented on #52
It can happen with only major version number bump. Changing current namespace would break bc.

[2015-06-16 18:14] robertdimarco commented on #52
I'm not opposed to this, but as @tuupola it would require a major version bump. I'd be happy to look at a PR if anyone else feels strongly about this.

[2015-06-23 18:52] jrjohnson commented on #52
:+1: for name spacing.

[2015-06-24 11:42] srcspider commented on #30
:+1:

It's quite a waste to have to json encode/decode to get the right result.

I understand that it might make sense in other languages to return a class, but its honestly just a giant pain when it come to PHP to have to work with the useless `stdclass` broken pattern. `stdclass` is functionally just an array that's incompatible with any of the usual array functions, ie. just harder to use for n

[2015-06-29 18:20] kcivey opened #56 "composer.phar should not be in repo"
Presumably composer.phar was checked in accidentally in e0a75bfb6413f22092c99b70f310ccb2cca3efa5? It should be removed and added to .gitignore.

I noticed because my IDE found it and started complaining about duplicate class definitions for things like Symfony\Component\Console\Input\InputOption.

[2015-07-01 15:53] marcospgp opened #58 "How about some documentation?"
I feel this library could use some documentation, especially some mention that if the token verification fails, an exception will be thrown. Also an example of code where a try catch block is used to decode a token would help.

 Thanks!

[2015-07-01 15:58] Dashron commented on #52
Any opinions on what the namespace should be? I need to namespace this because I've run into a conflict with another library. I'll have a PR together today.

[2015-07-01 16:03] CbrandVendini commented on #52
I think traditional namespacing these days on things that are pulled through composer is {githubuser}/{packagename} so it makes sense to use firebase/PHP_JWT

The package needs a version bump and namespacing, essential to keep moving forward.

[2015-07-01 16:20] tuupola commented on #52
Composer package name is not the same as PHP namespace. For me namespace 'Firebase' would make sense. Classname can be as it is.

[code]

This way you only need to add the following line and to make your old code work.

[code]

[2015-07-01 17:13] Dashron commented on #52
With the addition of all of the exceptions we need two tiers. \Firebase\Exceptions would conflict with any other firebase php libraries.

I'm going to restructure the folders to match their other php library, https://github.com/firebase/firebase-token-generator-php

[2015-07-05 13:15] robertdimarco commented on #56
Thanks for the note - fixed in 21498f7b9e433b37b3a8d18388ccc77ed6853703.

[2015-07-05 13:15] #56 closed

[2015-07-10 23:47] robertdimarco commented on #40
Closing due to inactivity, @zerotolerance feel free to contact again if you're able to repro and can provide add'l debugging information.

[2015-07-10 23:47] #40 closed

[2015-07-16 18:56] clarkguru commented on #40
Not sure if this helps, but I was using decode just fine, and then one day while making some changes I started to get that exception. Couldn't figure it out at first, then realized I had put in some debugging logic to loop through my $token to make sure I was setting it correctly. Well I stupidly put
[code]
So when I went to encode I was also using $key too, so my decode secret key stopped working

[2015-07-22 13:59] robertvrabel commented on #52
@Dashron Is a new version going to be released so we can reference it when pulling it in via composer? I noticed the current v2.2.0 doesn't have this in it.

I'm currently referencing dev-master just to use this package, but would like to lock it to a version soon.

[2015-07-22 16:11] robertdimarco commented on #52
@robertvrabel I'll cut a release today.

[2015-07-22 18:34] robertdimarco commented on #52
Shipped as v3.0.0. Thanks everyone! :tada:

[2015-07-22 18:34] #52 closed

[2015-07-24 13:05] zerotolerance commented on #40
I figured out the problem, I just changed the following commented line with the next one.
Could you please confirm whether it is a valid solution or not.

[code]

[2015-08-11 17:15] toddmcbrearty commented on #58
+1

[2015-08-11 17:24] peterholcomb commented on #58
:+1:   Great library by the way, very helpful in my latest project

[2015-08-11 21:05] rocanion opened #64 "Missing Exception file causes decode failure"
Apparently there is a missing DomainException.php file. The decode function fails because the DomainException class is not defined.

[2015-08-12 00:34] rocanion commented on #64
By the way, the fix is as easy as copying one of the existing exception class files with the proper naming.

[2015-08-17 00:26] robertdimarco commented on #64
@rocanion Which version of PHP are you using?

[2015-08-17 06:44] lcabral37 commented on #64
Just because I have nothing better to do...
@rocanion http://php.net/manual/pl/class.domainexception.php
This means you should have DomainException as part of the php from 5.1.0
Having said this, if you are using some version as early as that, you should probably consider upgrading your PHP version if possible.

[2015-08-17 14:34] rocanion commented on #64
I am using php 5.4.x

So this leaves me puzzled as to why I am seeing this error if the exception
is supposed to already be defined in my version of php.

Thanks for the replies!

Dan

On Mon, Aug 17, 2015 at 2:44 AM, lcabral37 <notifications@github.com> wrote:

[2015-08-21 06:59] shiroamada opened #65 "How to catch Expired token"
I got this Fatal error: Uncaught exception 'Firebase\JWT\ExpiredException' with message 'Expired token' in
I try to run try and catch, but it still come out Fatal Error.

[code]

I am using PHP-5.4.36
How to catch this error?
Thanks!

[2015-08-21 07:42] shiroamada commented on #65
try{

			$decoded = JWT::decode($jwt, $key, array('HS256'));
		}catch(\Firebase\JWT\ExpiredException $e){
			 echo 'Caught exception: ',  $e->getMessage(), "\n";
		}

Ok, i miss out the namespace. Sorry for it.

[2015-08-21 09:58] lcabral37 commented on #65
You should have been able to have caught it with the \Exception none the
less...

On Fri, Aug 21, 2015 at 9:42 AM, shiroamada <notifications@github.com>
wrote:

--
Luís Miguel Cabral
Address/Snail mail (I like postcards): Sofies GT 43, 0168 Oslo, Norway
Mobile: 004741755497 (Norway)

[2015-08-21 13:47] shiroamada commented on #65
Nope. I can't use \Exception to catch it.
I got Fatal error: Uncaught exception 'Firebase\JWT\ExpiredException' with message 'Expired token'.
With the namespace \Firebase\JWT\ExpiredException  then I able to catch it.

[2015-09-03 18:48] motin commented on #40
@zerotolerance Thanks! I can confirm that changing that line makes it work for me too. Was getting the invalid signature exception before, changed just that line and now it works great :)

[2015-09-03 18:55] motin commented on #40
However, I also tried php-jwt 3.0.0 pristine and the issue was apparently solved by other means, did not have to do any modifications.

[2015-09-08 05:43] motin commented on #51
Thanks for the solution! I ran into this locally using boot2docker and it's vm clock was far askew. To fix:

     boot2docker ssh sudo ntpclient -s -h pool.ntp.org

[2015-09-10 15:19] kiwo12345 opened #67 "Does it support hhvm?"
Hello,

I wonder if it supports/works with hhvm?

Thanks,

[2015-09-15 19:47] Mrkisha commented on #58
+1

[2015-09-15 21:04] dperjar commented on #58
I generally agree but if anyone really does need some examples etc the tests aren't a bad place to start: https://github.com/firebase/php-jwt/blob/master/tests/JWTTest.php

[2015-09-20 20:23] amnah opened #68 "Feature request - decode without verifcation"
Would be nice to be able to decode the jwt without needing to verify the signature.

Eg, if you need to do additional processing when the jwt is expired.

Something like [this](https://github.com/psecio/jwt/blob/master/src/Psecio/Jwt/Jwt.php#L148):

`public function decode($jwt, $verify = true)`

[2015-09-20 20:49] lcabral37 commented on #68
I'm not the maintainer of this project but my view regarding this is that the library is tying to implement a standard which has specific rules regarding its behavior and the library should not deviate from the standard. The result of that is potential security vulnerabilities.

Now if your only concern is expired JWT, a while back I contributed with a patch to add a leeway, mostly to handle the s

[2015-09-27 16:53] mikemclin opened #69 "Add PHP Namespaces"
I read in a different issue that you did not add namespaces because you were trying to keep compatibility with PHP 5.2.  Can I suggest that you break off a new version branch for newer versions of PHP?

Currently, your `JWT` class is colliding with another really popular package [Twilio PHP](https://github.com/twilio/twilio-php/blob/master/Services/Twilio/JWT.php).

[2015-09-27 16:55] mikemclin commented on #69
Apparently this has already been reported in Twilio Issues: https://github.com/twilio/twilio-php/issues/192

[2015-09-27 17:04] mikemclin commented on #69
Disregard.  I see that you've now launched a new 3.x version that takes care of this :smile:

[2015-09-27 17:04] #69 closed

[2015-09-28 04:19] fproject opened #70 "Add JWK support"
Should we add JWK support?

[2015-09-28 07:53] lcabral37 commented on #70
That would be nice.
Not sure how often it comes to be needed but as our project required JWK to
validate the JWT I had to implement a JWKmanager.

I'm willing to contribute if needed.

On Mon, Sep 28, 2015 at 6:19 AM, F-Project Team <notifications@github.com>
wrote:

--
Luís Miguel Cabral
Address/Snail mail (I like postcards): Sofies GT 43, 0168 Oslo, Norway
Mobile: 004741755497 (Norway)

[2015-10-13 13:34] rutwick commented on #58
+1

[2015-10-13 16:27] rutwick opened #71 "Class ExpiredException not found"
I have been trying to fix this since quite a while now. After my token expires, I get this exception:

PHP Fatal error:  Class 'ExpiredException' not found in C:\wamp...\php-jwt-master\src\JWT.php on line 119.

I tried adding the use statement to explicitly use the ExpiredException class, but it still gives me this error. I am trying to redirect the user by comparing the exp claim against the curr

[2015-10-20 08:23] mtdavidson commented on #67
I've not tried it but its tested on Travis under HHVM last test ran passed see https://travis-ci.org/firebase/php-jwt/jobs/79335909

[2015-10-21 03:43] psignoret commented on #71
Have you included `ExpiredException.php` (which defines the `ExpiredException` class)?

[2015-10-21 04:06] psignoret opened #72 "Which version of spec does this conform to?"
This is probably just a doc bug--

README says that this "conforms to the current spec", but the link is to the [draft-ietf-oauth-json-web-token-06](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-06), not the current [RFC 7519](https://tools.ietf.org/html/rfc7519).

[2015-11-03 11:46] Adagal opened #73 "Cannot handle token prior to ..."
I am getting this error on trying to validate a token. I explain:

1 - My AngularJS sends a http with credentials, database validates it and generates a token.
2 - AngularJS app stores the JWT token locally.
3 - On navigation the app sends the token to the server for validating expire data.
4 - Server throws this exception on trying to decode the JWT token received.

#0 C:\Server\www\routes\rememb

[2015-11-08 16:45] abioneperhobby opened #74 "why altering verify signature validation can be ok?"
Hi
try this token

eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vd3d3Lmdvb2dsZS5pdCIsImF1ZCI6Imh0dHA6Ly93d3cuZ29vZ2xlLml0IiwidXNlcm5hbWUiOiJhbmRyZWEuYmlzZWxsbyIsInJvbGVzIjpbImNhbkNyZWF0ZUNvbnRlbnQiLCJjYW5EZWxldGVDb250ZW50Il19.JQ_lBPw-YKYWeHGstnKSyOOkAwo3EJMQUTr328YW5ic

and verify with this key 9FFF4CB4B9B23C671D327AA84C2F9

here http://jwt.io/

and everything is good.

but why altering

[2015-11-10 16:57] spacebiscuit commented on #58
+5

[2015-11-12 17:50] robertdimarco commented on #74
Since the signature is Base64-encoded, it is possible that the last character includes some padding of some kind or the bits after the termination of the bytes are not used. You shouldn't find this behavior anywhere else besides the last character, though.

[2015-11-12 17:50] #74 closed

[2015-11-12 17:52] robertdimarco commented on #73
Please follow-up if you can find a minimal case that reproduces your issue with a valid token. The trace shown above, however, only suggests that the token is invalid.

[2015-11-12 17:52] #73 closed

[2015-11-18 10:28] sadranyi commented on #71
sorry but am new to jwt, i get the same issue, i have the "ExpiredException" class but its empty, do i need to write an implementation for this ? this seems to be the case for all the other ...Exception.php files included

[2015-11-18 11:19] sadranyi commented on #65
\Exception works fine with me. if you are using composer and all dependencies are resolved properly it should work just fine

[2015-11-19 06:06] robertdimarco commented on #72
Good note! Updated the README.

[2015-11-19 06:06] #72 closed

[2015-11-19 06:07] robertdimarco commented on #67
@mtdavidson Thanks for posting that link to the test run! I haven't tried it either, but certainly open to reports / filing bugs if there is evidence of problems. Closing this out for now.

[2015-11-19 06:07] #67 closed

[2015-11-20 23:12] ryanscherler opened #75 "Strange error when passing in token to decode"
Any ideas why my token auth is giving me this?

[code]

The only thing I can find on this issue may be related to:

http://cweiske.de/tagebuch/php-property-started-nul.htm

[2015-11-21 00:39] ryanscherler commented on #75
I realize that I was passing some extraneous model object data into an attribute of my token when encoding. Turns out that this causes an error when its trying to decode.

[2015-11-21 00:39] #75 closed

[2016-01-04 15:39] BondITSolutions commented on #71
@sadranyi You do not need to write an implementation for this, but if you want you could. Do note that it extends the `UnexpectedValueException` class, so it's not required at all.

The error @rutwick is reporting hasn't anything to do with an 'empty class' either. PHP simply can't find the class at all. Make sure `ExpiredException.php` is included.

[2016-01-12 20:56] brantstaven opened #78 "Verify Rs512 signature with a Public RSA key"
I would like to be able to verify a RS512 / sha512 signature with an RSA PUBLIC KEY.  Do you have any plans to support that or is there some way to do it now.  Thanks.

[2016-01-15 03:53] SimonEast commented on #73
I'm also getting this exception message in *some* circumstances when used from within the [Auth0 authentication library](https://github.com/auth0/auth0-PHP).

    Cannot handle token prior to 2016-01-15T14:44:28+1100

It appears to happen when the server's clock is a few seconds behind the remote authentication server's. Is that a bug in the PHP-JWT library that it requires such strict time synchr

[2016-01-16 13:28] Remeic opened #80 "Error on decoding jwt"
Hello guys , i'm  trying this library and i copy the code on the wiki but when i try to decode the jwt php report me an error.
Type: UnexpectedValueException
Message: Invalid claims encoding

i use slim php framework
you can see the error here http://piller.pillsoft.com/api/1/jwt

[2016-01-19 13:11] Dmatafonov commented on #78
+1

[2016-01-25 07:32] ajmalmsali commented on #80
You missed the algo?
like, Firebase\JWT\JWT::decode('eyJ0eXAiOiJKV1Q...', 'example_key', array('HS256')) ??

[2016-01-28 19:55] Remeic commented on #80
@ajmalmsali i set , see this http://pastebin.com/7n4B42nW
and sorry for delay i have to study for exams

[2016-01-29 00:48] tuupola commented on #80
$keo !== $key

[2016-01-29 11:12] Remeic commented on #80
@tuupola don't solve the issue but i move the token inside the function and now works, thanks again

[2016-01-29 11:12] #80 closed

[2016-02-04 13:17] ashraful88 opened #83 "Reissue JWT when expired"
I'm storing jwt in a storage. of if client request with expired token which is in my storage then I want to reissue a jwt. but problem is how to get payloads from a expired jwt ?

[2016-02-09 17:43] tejuprasad commented on #78
+2!

[2016-02-09 21:25] MPiccinato opened #84 "'iat' handling doesn't conform to spec?"
Hello, first of all, great library and thanks for putting it together.

My question pertains to the [RFC-7519](https://tools.ietf.org/html/rfc7519#section-4.1.6) spec for the 'iat' claim and how it is handled in this lib.

Since the spec says this claim is optional and doesn't specify the validity  of an 'iat' claim, other than being an NumericDate value, shouldn't the library not enforce validity

[2016-02-17 12:56] tyson1987 commented on #83
i would also like to know how to reissue a jwt token within datapower.

[2016-03-03 21:33] vtsao opened #86 "Update latest release tag."
The releases page doesn't have the latest release marked as "latest", this should be updated, otherwise GitHub collapses newer releases and hides them and it's confusing:
https://github.com/firebase/php-jwt/releases

[2016-03-04 17:33] xerardoo commented on #71
hi I'm newby in php, who knows how ignore exceptions from php-jwt , I want to handle errors

[2016-03-04 17:39] xerardoo commented on #58
+10

[2016-03-04 23:37] xerardoo commented on #50
@Chimit  hi, how do you catch an exception?
I tried something like this, but didn't works. :(

`try{`
`$decoded = JWT::decode($token, $key, array('HS256'));`
`}catch(Exception $e){`
 echo 'Exception message '.$e ;
`}`

[2016-03-05 10:09] lcabral37 commented on #50
Try \Exception

What does the error message being dumped?
On 5 Mar 2016 00:37, "Lucio G Pazos" <notifications@github.com> wrote:

[2016-03-07 18:44] xerardoo commented on #50
@lcabral37  Hi, I Tried `\Exception` and didn't work.

the error was 'Fatal Error : Classs'Firebase\JWT\SignatureInvalidException' ', I want to catch the error because is an api rest.

[2016-03-08 14:36] SiasMey commented on #83
You probably shouldnt.

The better thing and apparently more standard is to have a seperate second token in storage that is only allowed to refresh the main token.

So you have a token that expires in say ... an hour. You also have a second token that expires in 2 hours, but only has permission to refresh the main token. This will give the client an hour after their token expires to request a refr

[2016-03-08 17:00] tuupola commented on #83
Token are just Base64 encoded data. You can access header and payload with something like following:

[code]

[2016-03-09 12:50] ashraful88 commented on #83
I came to a solution where we are storing jwt in a storage.
when a user coming with a jwt i'm first looking for the jwt in our storage, if the jwt is in storage then (it is in our storage means it created by us)trying to decode the jwt. if it fails then again trying to decode with leeway set to 3 hour. if successfully decoded with leeway set then creating a new jwt user.

please let me know if the

[2016-03-09 15:40] dperjar commented on #83
@ashraful88 That's probably not best practice. A little reading while unearth some points. http://stackoverflow.com/questions/3487991/why-does-oauth-v2-have-both-access-and-refresh-tokens

[2016-03-23 15:49] doapp-ryanp opened #87 "SignatureInvalidException but works in jwt.io"
I'm using Auth0. I put the the Auth0 issued JWT token and my secret into jwt.io and it verifies sig just fine.

I do have to check the `secret base64 encoded` box however.

I have tried both:

[code]

and

[code]

But I always get `SignatureInvalidException`

How do I get `\Firebase\JWT\JWT::decode()` to accept a base64 encoded secret key?

PHP 5.5.23, php-jwt v3.0.0

[2016-03-23 16:23] doapp-ryanp commented on #87
Figured it out.  You need to do a special base64 decode on the secret 1st:

[code]

For anyone using Auth0, you can just use [auth0-PHP](https://github.com/auth0/auth0-PHP) lib and specifically the [`Auth0JWT:decode()`](https://github.com/auth0/auth0-PHP/blob/master/src/Auth0JWT.php#L17) method

[2016-03-23 16:23] #87 closed

[2016-03-23 16:24] doapp-ryanp commented on #40
I had similar issue https://github.com/firebase/php-jwt/issues/87 fixed it for me

[2016-04-08 23:23] alager commented on #71
Can anyone point out how to include this, if it's in the spl_autoload path already?  I'm confused...

` PHP Fatal error:  spl_autoload(): Class Firebase\JWT\ExpiredException could not be loaded in /usr/local/lib/JWT/JWT.php on line 119`

[2016-04-21 08:28] sonicwong commented on #58
+1

[2016-04-25 21:20] BonnieDoug commented on #83
I'm not sure if my way around this is correct, but I'll air it for opinions anyway.

What I do is issue a Token on successful authorization, with an hour validity. Then on every subsequent I check the token, and then create a new token return it to the client and save it to the file-system, overwriting the previous one. This way, as long as the user remains active their token will never be out of

[2016-04-28 14:53] ayalma opened #92 "Wrong number of segments"
hi .
i face with this issue when i trying to decode token that send from retrofit from android in php.
but when i use Firefox rest Client everything is good.

[2016-04-28 15:46] tuupola commented on #92
Check what your Android client is actually sending.

[2016-04-28 16:33] ayalma commented on #92
Yes I traced and found out . retrofit add token header multiple time. And
this make error.
And thank you for attention.
On Apr 28, 2016 8:16 PM, "Mika Tuupola" <notifications@github.com> wrote:

[2016-04-28 17:08] #92 closed

[2016-05-11 11:18] josephmcdermott opened #94 "Is this codebase still maintained?"
A few PR's building up but no commits or merges to main project for a while? Just wondering whether I stop waiting and use my own fork. Cheers, Joseph

[2016-05-19 12:30] swestcott commented on #94
+1 interested in the response

[2016-05-24 16:12] tacone commented on #86
According to readme.md and also https://jwt.io/ the only release showing is affected by a serious security issue, while all the hidden ones should be safe.

You could not make it up

[2016-05-26 16:45] stdinh commented on #94
+1

[2016-05-27 11:37] vthorsell commented on #94
+1

[2016-05-27 17:16] thorsten commented on #94
+1

[2016-05-28 04:57] thorsten commented on #94
https://twitter.com/_jwngr/status/736398179445280770

[2016-06-02 07:26] robertdimarco commented on #94
Hi folks!

As you've all noticed, we haven't been able to give this project much love lately, primarily because we've been hard at work building all of those new Firebase products and features that recently launched at Google I/O (*see* https://firebase.googleblog.com/2016/05/firebase-expands-to-become-unified-app-platform.html).

That said, I'm hoping I can get through all of the pull requests th

[2016-06-02 07:26] #94 closed

[2016-06-03 02:14] jigarius opened #95 "Missing/Invalid claim "kid" in auth header"
Getting error "Missing claim "kid" in auth header". When I add the key ID to get rid of this error, I get "Invalid claim 'kid' in auth header." - I request you to please let me know if you know something about this. Development has stopped for 2 days because of this issue. Thanks a tonne.

[code]

Here, the $server_kid = config.private_key_id and $server_email = config.client_email. If this is not

[2016-06-14 18:03] mitjarobic commented on #95
I have the same problem. Did you solve it?

[2016-06-14 18:08] katowulf commented on #95
Cross posted [here](http://stackoverflow.com/questions/37443317/php-jwt-creates-incorrect-token-for-firebase-3) (please respect the community's time and indicate when you do this) and answered [here](http://stackoverflow.com/questions/37426093/using-custom-tokens-to-make-rest-requests-to-fb-db-as-an-admin)

[2016-06-14 21:02] samirsyed29 opened #97 "JWT Token data visible when base64 decoding the token"
When I encode an array using a private key using JWT::encode($array, $privatekey). I get the encrypted token.

But when I base64_decode that token, the token is totally visible.

For example, below is the token the class generated :

eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJVc2VySUQiOiIyZGJhMjg1NC0wZGI0LTdhMDEtODMxNS05YWExNzA5MzQzZWUiLCJ0b2tlbl9leHBpcnkiOjE0NjU5Mzk3NzcsInNlY3JldF9pbmZvIjoibXlfc2Vyd

[2016-06-14 21:52] tuupola commented on #97
Yes, this is how JWT works. It is not encrypted. It is signed. If somebody alters the content of the token validation will fail because signature does not match any more.

https://jwt.io/introduction/

[2016-06-14 21:53] dperjar commented on #97
Beat me to it... but don't put anything confidential in the JWT payload.

[2016-06-14 21:55] samirsyed29 commented on #97
So basically, anyone except that person can have access to protected resources with the token he/she has. If he/she alters it, they won't have access to other users resources other than their own.

And thank you for letting me know to not put confidential info in the token.

[2016-06-14 21:55] #97 closed

[2016-06-16 13:32] Sandeep3005 commented on #65
Solved the problem .. but now issue is that I am getting expired token no matter how many time I ran that script  -- error remain same -- Why token is not refreshing remain expired

[2016-06-16 20:10] mikelehen commented on #65
Can you clarify how you know the jwt you are decoding is not expired?  (by default Firebase tokens expire after 60 minutes, so if you're testing with an old token, it'll likely be expired)

[2016-06-23 21:48] myuseringithub opened #98 "Error using RS256 - openssl_sign(): supplied key param cannot be coerced into a private key"
Using HS256 works and produces the token key. but using RS256 throws the below error.
I'm using Google Cloud Compute servers if it makes any difference.

PHP Warning:  **openssl_sign(): supplied key param cannot be coerced into a private key** in /firebase/php-jwt/src/JWT.php on line 183
PHP Fatal error:  **Uncaught exception 'DomainException' with message 'OpenSSL unable to sign data'** in /fireb

[2016-06-24 07:00] myuseringithub commented on #98
**SOLUTION**
http://stackoverflow.com/questions/37801444/setting-up-firebase-v3-custom-auth-with-php/38002277#38002277

[2016-06-24 07:00] #98 closed

[2016-06-28 09:01] Tom32i commented on #95
Same problem here, and I fail to see how the Stack Overflow posts address this issue?

[2016-06-28 11:47] jrm1987 commented on #95
Looks like there is just some confusion with the custom authentication
implementation between the old and the new Firebase SDKs. It seems that
you're trying to send the custom tokens directly to the database, which is
an old Firebase SDK implementation. In the new Firebase SDK, however, this
is not supported, due to a change in the security model.

Depending on what you want to do, you may want to

[2016-06-28 12:38] Tom32i commented on #95
Thanks for your answer.

Do you know if it is possible at all to call a Firebase database from a PHP server with Auth enabled?

[2016-07-04 15:34] baschny opened #99 ""Unknown JSON error""
I get lots of "Unknown JSON error: 5". Why not handle all the potential PHP json decoding errors in `handleJsonError` and display the real error instead? Only 1,2,3 seem to be handled currently, while others were added in newer PHP versions.

See potential errors here: http://php.net/manual/en/function.json-last-error.php

Or use http://php.net/manual/en/function.json-last-error-msg.php (for PHP >

[2016-07-12 09:32] amolchakane opened #100 "Issue while decoding JWT"
I was trying to decode the generated token using decode function of https://github.com/firebase/php-jwt library.

Here is my code. I have defined private key in my configuration file using following line.
`define("FIREBASE_PRIVATE_KEY","-----BEGIN PRIVATE KEY-----\nMY_VERY_VERY_LONG_KEY\n-----END PRIVATE KEY-----\n");`

Here is the code to decode token.
`JWT::decode($token, FIREBASE_PRIVATE_KEY, a

[2016-07-12 18:04] e-oz commented on #95
@katowulf

no, it's NOT answered there. Respect time of the community.

[2016-07-12 18:06] e-oz commented on #95
so this issue is still valid and there is no way to make this library work with Firebase, what an irony.

[2016-07-23 01:43] wangel12 commented on #40
In mY case, when i sub string the Bearer and value , there was a space before the JWT. So it was not working that way. Later i did subtracting one more space, and it worked.

[2016-07-23 15:23] timtimmytime commented on #95
@Tom32i I am using this project for calling Firebase database from PHP.
https://github.com/kreait/firebase-php
In the new firebase web console click the gear icon -> Permissions -> Service Accounts. Create new one for your server, they give a .json file with the key for the service account, put this in safe place on php server and load it in the config of this project, (they have good documentatio

[2016-07-23 16:46] e-oz commented on #95
@jrm1987

that link contains only this text, related to server-to-server:

[2016-07-23 18:03] jrm1987 commented on #95
Actually, I copied and pasted the exact answer which Google sent me.

El 23 jul. 2016 11:46 a. m., "Evgeniy OZ" <notifications@github.com>
escribió:

[2016-07-26 05:27] nezarfadle opened #102 "Decoding with two extra digits added to the signature reports a warning"
File: [JWT.php](https://github.com/firebase/php-jwt/blob/master/src/JWT.php)

[code]

Encoding the payload will genrate this JWT

[code]

The error arise when I add two extra digits to the signature ( and only two digits )

[code]

The code above will report a warning

[code]

[2016-07-26 08:52] psignoret commented on #102
Those two extra characters make the signature an invalid Base64 encoding (i.e. there is no sequence of signature bytes that would produce that when Base64-URL-encoded). It would be reasonable for `JWT` to identify this case.

I've submitted a PR (#103) with a proposed enhancement to this (throws exception if encoded signature cannot be decoded).

[2016-08-20 13:13] fjaguado commented on #83
This is how I reissue the same token updating times. I catch the 'ExpiredException' and then I try to decode again with a huge leeway:

`public static function refresh($token) {
        try{
            $decoded = JWT::decode($token, JWT_SECRET, ['HS256']);
            //TODO: do something if exception is not fired
        }catch ( \Firebase\JWT\ExpiredException $e ) {
            JWT::$leeway = 7

[2016-08-20 22:20] Shiva1029 commented on #65
use \Firebase\JWT\JWT;

[2016-08-22 14:26] parthjdabhi commented on #98
@myuseringithub couldn't work for me :(

[2016-08-22 15:24] parthjdabhi opened #105 "OpenSSL unable to sign data while generating custom token firebase V3 with php-jwt"
Warning: openssl_sign(): supplied key param cannot be coerced into a private key in /home/unitefi2/public_html/phpjwt/src/JWT.php on line 196

Fatal error: Uncaught exception 'DomainException' with message 'OpenSSL unable to sign data' in /home/unitefi2/public_html/phpjwt/src/JWT.php:198 Stack trace: #0 /home/unitefi2/public_html/phpjwt/src/JWT.php(167): Firebase\JWT\JWT::sign('eyJ0eXAiOiJKV1Q...'

[2016-08-22 16:21] myuseringithub commented on #98
@parthjdabhi  You are probably missing something out, ya hard to debug sometimes, just check carefully. and check the solution in the provided link.

[2016-08-25 06:36] duyluandethuong opened #106 "Exception thrown when setting expired time for the token"
This is my code block

[code]

Whenever I set the "**exp**" time for the token, the following error was thrown.

If I keep the $token array as above, everything works fine.

Do you have any idea on this?

[2016-08-25 16:23] katowulf commented on #106
Please include the timestamp you're setting expires to, as well as version info and a [minimal, complete, repro](http://stackoverflow.com/help/mcve).

[2016-09-04 13:47] EralpB commented on #100
I'm having the exact same issue :/

[2016-09-05 12:42] WilliamMayor commented on #68
This would be a useful feature for me.

I'd like to use a key per user, not a global key. I'd also like to avoid hitting the DB for every decode. What I thought I'd do is this:

[code]

But now to decode I need to know the user's ID:

[code]

Of course I can use the above workaround. I just thought I'd give some reasoning behind this feature request beyond "I care nothing about the standard".

[2016-09-05 15:08] tuupola commented on #68
JWT payload is just base64 decoded data. You can extract the payload with simple PHP.

[code]

[2016-09-05 15:25] WilliamMayor commented on #68
Yeah, I get that you can do it without using the library. I suppose my point was that the feature request is a valid one and maybe should be worth considering.

The JSON decoding in the library isn't quite as trivial as your example. There's stuff in there about checking for large ints and PHP versions. It's shame to lose these optimisations (and any future ones).

[2016-09-14 15:29] kiwo12345 opened #109 "Should we use HS256 or RS256?"
Should we use HS256 or RS256?
Looking at the docs it says: [RS256](https://firebase.google.com/docs/auth/server/create-custom-tokens)

I have tried to make a token using: `$token = JWT::encode($payload, $key, 'HS256');`
But if I later try to use that token when testing on ios I get the error:
`FIRAuthErrorDomain Code=17000 "The custom token format is incorrect. Please check the documentation.`

[2016-09-14 15:39] kiwo12345 commented on #109
If I try to use RS256 I get the error:
`openssl_sign(): supplied key param cannot be coerced into a private key`

[2016-09-14 15:44] kiwo12345 commented on #98
@myuseringithub are you using RS256? I only get it to work with **HS256** I have setup everything, service email, key etc

[2016-09-14 18:07] Nayir commented on #98
Do you try using double quote instead of single quote ? I managed to solve it with double quote.

[2016-09-14 18:09] Nayir commented on #109
Do you try using double quote instead of single quote ? I managed to solve it with double quote.

I mean, if you write $token = JWT::encode($payload, "YourGiantKey", 'RS256'); instead of $token = JWT::encode($payload, 'YourGiantKey', 'RS256');

I dont know how to solve the problem with the var $key by the way. If you manage to do it, please let me know :)

[2016-09-15 07:50] kiwo12345 commented on #109
@Nayir I tried with double quote and now it works, thanks!!
I could not get it to work by $key instead I put it inside a define like this:
[code]
Which worked :)

[2016-09-18 14:00] kiwo12345 opened #111 "What exception to catch when running JWT::encode()"
If I run JWT::encode() and it fails to create a token what error/exception is thrown?

Thanks,

[2016-09-18 15:14] tuupola commented on #111
Looking at the source seems to thrown a [DomainException](http://php.net/manual/en/class.domainexception.php).

[2016-09-19 03:22] andrebruton opened #112 "Installing error with Composer"
I get the following error when trying to install using Composer in a subfolder:

C:\xampp\htdocs\milk\jwt>composer require firebase/php-jwt
Using version ^4.0 for firebase/php-jwt
./composer.json has been updated
Root package 'firebase/php-jwt' cannot require itself in its composer.json
Did you accidentally name your root package after an external package?

Any idea how to fix this?

[2016-09-19 14:02] Shkeats commented on #100
@amolchakane @EralpB  With RS256 you encode using the _private_ key but you decode using the **public** part of the key. This way you can share the public key with other applications or services that may want to verify that the token was issued by your application without giving them the private key which would allow them to issue their own valid tokens.

[code]

[2016-09-19 14:32] Shkeats commented on #78
@doapp-brant @Dmatafonov @tejuprasad As I understand it you can, see my reply on https://github.com/firebase/php-jwt/issues/100

[2016-09-20 08:53] amolchakane commented on #100
@Shkeats Yes, you are correct. I used following code, and it works perfectly fine.
[code]

[2016-09-21 15:21] Shkeats commented on #100
@amolchakane OK glad it worked. You should close this issue now.

[2016-09-23 10:13] #100 closed

[2016-09-25 14:42] p4scu41 opened #113 "Valid if a token is blacklisted"
How can I implement a function that check if a specific token is blacklisted???

[2016-09-27 20:59] fireproofsocks commented on #58
+1 https://medium.com/@craftsmancoding/wtfm-dbbec02eb172#.nqpu6uivi

[2016-09-27 22:49] abehaskins commented on #113
You would have to generate a unique ID in every token and use the security rules to check if a specific ID was blacklisted. Hope this helps!

[2016-09-27 22:49] #113 closed

[2016-10-02 05:21] JitenBhanushali commented on #105
I'm getting the same issue
Were you able to solve it?

[2016-10-07 21:36] chinedufn commented on #109
When you download your JSON file it comes with a bunch of `\n` characters.

These need to be interpreted as new lines. In PHP, double quotes `""` will interpret them as newlines, while single quotes `''` will not.

[code]

[code]

---

Thinking it might be nice to throw an error / warning.. but haven't thought through any potential edge cases... So for now I'll just PR the README

[2016-10-08 21:35] NordlingDev opened #116 ""OpenSSL unable to verify data...""
I am unable to get passed this error when calling `JWT::decode()`:

`Uncaught exception 'DomainException' with message 'OpenSSL unable to verify data: error:0906D06C:PEM routines:PEM_read_bio:no start line`

Error comes from this code piece:

[code]

I have tried using both `$private_key` and `$public_key` as the second argument of `decode()`. the `$public_key` is the only one that gets me this fa

[2016-10-10 15:07] joostfaassen commented on #78
I've submitted PR #117 to support this.

[2016-10-20 11:47] benitora opened #118 "Fatal error: Class 'Firebase\JWT\JWT'"
Fatal error: Class 'Firebase\JWT\JWT' not found in C:\xampp\htdocs\maxi\test.php on line 13

Do you have solution for fix it?

Thanks.

[2016-10-20 11:50] #118 closed

[2016-10-21 17:55] dpbuzz opened #119 "token refresh route"
I am developing an api with slim using tuupola/slim-jwt-auth to be used from smartphones.
I can't recover the payload from a expired jwt, because exeption ExpiredToken is thrown when using decode(). I want to verify the jwt and if ok, recover the payload (it has usr_id and psw_time that I use to check usr status / psw change before new token).
Any suggestion to do this?
Thanks

[2016-10-21 19:36] dpbuzz commented on #119
Yes I see that issue...
I finallly use the following code. I want the JWT:verify function to validate the token, and it is done before the exception.

try {
        $payload = JWT::decode($jwt ,$jwt_secret ,array('HS512'));
    }catch ( \Firebase\JWT\ExpiredException $e ) {
        // at this point the jwt was validated ok
        list($headb64, $bodyb64, $cryptob64) = explode('.', $jwt);

[2016-10-23 18:39] TangoMan75 commented on #68
I understand that an expired tokens should return an invalid status. But I don't see where the specs doesn't allow invalid tokens to return payload...

[2016-10-28 18:22] weiliank opened #121 "Modify ExpiredException JSON Error Display"
Been trying to modify the JSON error response from an expired JWT.

From:
[code]

To:
[code]

Is there possible way of doing it? Thanks!

[2016-10-29 02:44] #121 closed

[2016-10-31 14:30] GersonM commented on #116
I have the same problem!

[2016-11-03 22:52] HenryNe commented on #116
I used such
[code]
pubkey.key is a created on command, and contains multiple lines of text:
-----BEGIN PUBLIC KEY-----
...
-----END PUBLIC KEY-----

[2016-11-04 11:14] ManishLSN opened #122 "unable to run project"
Hello All,
I knew its silly question to raise here, but most of the cases i am not able run github projects on my localhost [Apache, mysql]. i usually download project as a zip and after extract i run cmd "composer install", and vendor directory and dependency installed, but what after that, i am not able to run project on local machine.
any information ?

[2016-11-04 22:41] HenryNe commented on #116
Here is example from start page with RS256
[code]

[2016-11-05 13:30] bobysf12 opened #123 "JWT decode with RS256 algorithm"
I'm trying to decode firebase auth and verify it to access my website, but i keep getting this error

DomainException in JWT.php line 229:
OpenSSL unable to verify data: error:04067072:rsa routines:RSA_EAY_PUBLIC_DECRYPT:padding check failed

I'm using laravel btw but tymon\jwt is not helping with RS256. Please help

[2016-11-08 08:34] psignoret commented on #122
Indeed, this is not the appropriate place for this question. You should ask this in a more general forum, such as StackOverflow. Don't forget to include precise details on exactly what your environment is, how it's configured, what you have attempted and what error messages you receive. Also include what you have already tried to do after you searched online for help. Always provide the steps for

[2016-11-08 09:45] psignoret commented on #119
An expired JWT should simply be considered invalid, and the contents should not be used or trusted at all. From https://tools.ietf.org/html/rfc7519#section-4.1.4:

[code]

In your example above, you're not technically validating the token, you're just verifying the signature (and `iat` and `nbf` claims), and *this is just a result of the order in which this library happens to do those checks*. To

[2016-11-08 15:48] dpbuzz commented on #119
Thank you for taking the time for the explanation.
I agree with the example you give and is true that in the future that order may change.
The original question was how to avoid user re-login when just jwt expires? ... I needed to recover usr_id from payload (this can't be done) to check against a db if it is ok and generate another jwt.
At this point I realize that the only way is to increase exp

[2016-11-15 08:20] Hyperonic commented on #116
I'm also getting this error. Any solution ?

[2016-11-15 23:55] HenryNe commented on #116
Here is an example with private key only:
[code]
`openssl_pkey_get_private` work also as replacement for `openssl_get_privatekey`.

This is the output of the example:
[code]

[2016-11-16 00:00] HenryNe commented on #116
@NordlingArt, I think, you need to convert you private key into RSA private key first.
Try this from [stackoverflow.com](http://stackoverflow.com/questions/17733536/how-to-convert-a-private-key-to-an-rsa-private-key):
`openssl rsa -in private.key -out private_rsa.key`

[2016-12-02 19:57] kadircanerergun opened #127 "Invalid Custom TOken"
Im using custom token auth on Firebase. I tried to generate token as the documentation said. But when i try to login in client side with (loginWithCustomToken(token)) method it gives an error below

[code]
I generate token with this code block as described in firebase documentation

[code]

[2016-12-06 16:53] TheFox commented on #116
@HenryNe `-aes256` not `-aes26`. But it's not working for me. With none of recommendation.

[2016-12-06 20:54] HenryNe commented on #116
@TheFox thanks for the typofix. Maybe [JWT authentication problem, "PEM_read_bio:no start line"](https://community.box.com/t5/Developer-Forum/JWT-authentication-problem-quot-PEM-read-bio-no-start-line-quot/m-p/22964#M903) helps you?

As I found, the private key in PHP must be unencrypted, in the form with header line "BEGIN RSA PRIVATE KEY", and without algo info.

So, please look at the [flow](ht

[2016-12-09 13:51] saffabook commented on #127
Same issue +1

[2016-12-10 00:16] saffabook opened #128 "Error trying to connect to Firebase"
I have installed the package, then I have followed these instructions. https://firebase.google.com/docs/auth/admin/create-custom-tokens
at the bottom you will see the jwt-php example, then got my account's email address and private key, generated a token and when putting it at the end of the url ie ?auth="generatedtoken"
I get the error below.  What steps am I missing?
{
    "error": "Expected an

[2016-12-11 15:59] raistlin commented on #116
I have same problem.

It works when I try to decode a jwt token generated in PHP, but when I try to decode a $jwt token generated by firebase (on client), it always fails with:
```PHP Fatal error:  Uncaught DomainException: OpenSSL unable to verify data: error:0906D06C:PEM routines:PEM_read_bio:no start line in ... ```

I tried using every trick @HenryNe provided, but nothing works.

@HenryNe , ma

[2016-12-12 13:59] TheFox commented on #116
@HenryNe Why `-aes256` at all when I need to unencrypt it in the next step anyway?

I downloaded `project_name-firebase-adminsdk-xyz-123.json` from https://console.firebase.google.com/project/<PROJECT_NAME>/settings/serviceaccounts/adminsdk, extracted `private_key` field, converted all "\n" to new lines and saved it to a file named `firebase.priv`.

Then converted the key file like you said:

[cod

[2016-12-12 15:06] TheFox commented on #123
Which `firebase/php-jwt` version to you use?

[2016-12-13 07:26] HenryNe commented on #116
@TheFox I have not seen a shorter way in the [flow](https://i.stack.imgur.com/muC6R.jpg) on stackoverflow.com. You are right. The encryption step not need.
`openssl rsa -in FROM_BEGIN_PRIVATE_KEY -out TO_BEGIN_RSA_PRIVATE_KEY`

[2016-12-13 07:49] HenryNe commented on #116
I use the same code from days before, with a manipulation on the token to get an error like you:
[code]
The output is
[code]
I assume, that your jwt is not correctly signed by the creator.
Which JavaScript client do you used?

[2016-12-13 08:55] TheFox commented on #116
@HenryNe I'm using Firebase JS Client: https://www.gstatic.com/firebasejs/3.6.2/firebase.js -- And `firebase-app.js`, `firebase-auth.js`. So it's Firebase's fault?

[2016-12-14 07:30] HenryNe commented on #116
The fault is maybe in the php-jwt?
I used my jwt and public key from example and posted it to https://jwt.io/ with a negative result.

1. Select ALGORITHM: `RS256`
1. posted the Encoded from my example:
`eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJleGFtcGxlLm9yZyIsImF1ZCI6ImV4YW1wbGUuY29tIiwiaWF0IjoxMzU2OTk5NTI0LCJuYmYiOjEzNTcwMDAwMDB9.CxbrdOFLiibtEfbYXz4W6bf0wQ_MwMnOjE2bYawWa97hIO9jqxRg7PxiQB

[2016-12-14 08:00] HenryNe commented on #116
I checked against a Bash Script.
[code]
The output is:
[code]
I posted the Decoded line and the Public key to jwt.io Debugger.
Voila: "Signature Verified".

What is wrong in php-jwt here?

[2016-12-14 08:52] HenryNe commented on #116
I found my bad!

The server, I tested php-jwt, does not support 'SHA256' in php. The openssl was falling into default OPENSSL_ALGO_SHA1, that uses 160 bits and is not the same as 'SHA256', see [here](https://www.keycdn.com/support/sha1-vs-sha256/).

Not working (Debian 5 lenny):
PHP Version 5.2.6-1+lenny16`

O an other newer server I tested the same PHP: The created JWT was Verified on Degugger.

[2016-12-14 10:26] TheFox commented on #116
So it's actually PHP? Or the OpenSSL module in PHP?

[2016-12-15 05:11] yanpengfei commented on #65
use \Firebase\JWT\JWT;

try {
            $tokenArray = JWT::decode($token, SECURITY_KEY, array('HS256'));
        }
        catch (\Firebase\JWT\SignatureInvalidException $e) {
            print "Error!: " . $e->getMessage();
            die();
        }

[2016-12-28 09:55] Krunal-Gosalia opened #130 "Fatal error: Class 'Firebase\JWT' not found on line 18"
Step 1: Running command "composer require firebase/php-jwt"
Step 2: Creating new test.php file for verifying

[JWT_App.zip](https://github.com/firebase/php-jwt/files/675351/JWT_App.zip)

Running file using XAMPP server
Error:- Fatal error: Class 'Firebase\JWT' not found on line 18

[2016-12-28 19:44] bshaffer commented on #130
Hey @Krunal-Gosalia! Try this:

[code]

[2016-12-28 19:44] #130 closed

[2016-12-28 22:21] bshaffer commented on #127
Hello! Thank you for filing this.

I unfortunately cannot duplicate this issue. The above sample validated as expected. I would verify the following:

1. The service account email matches the private key
2. The project tied to the service account matches your firebase config (i.e. `authDomain`)
3. The token being passed to `loginWithCustomToken` is correct

Unfortunately, the error message being r

[2016-12-28 22:22] bshaffer commented on #128
Hello! You need to use the `loginWithCustomToken` method on the client side to exchange your `custom token` for an `ID token`. Then, the ID token can be used in the URL. See [Sign in using custom tokens on clients](https://firebase.google.com/docs/auth/admin/create-custom-tokens#sign_in_using_custom_tokens_on_clients) for more information.

If you think there is a problem with the documentation, c

[2016-12-28 22:22] #128 closed

[2016-12-29 19:42] Frug commented on #98
Using single or double quotes isn't going to make a difference.

I ran into this issue and resolved it by changing how I was generating the key pairs. I'm not using google cloud compute for any of this.

If you're using ssh-keygen to give you your key pairs, try openssl instead.
[code]

This should work with RS256 if you read those files however you like, ( ie `file_get_contents('id_rsa_jwt.pub')`

[2017-01-05 08:08] ashleyliu31 opened #133 "Cannot install: "these conflict with your requirements or minimum-stability""
Hello,
I tried to install with composer but the following error messages showed:
 Problem 1
    - firebase/token-generator v3.0.0 requires firebase/php-jwt ^3.0 -> satisfiable by firebase/php-jwt[v3.0.0] but these conflict with your requirements or minimum-stability.
    - firebase/token-generator v3.0.0 requires firebase/php-jwt ^3.0 -> satisfiable by firebase/php-jwt[v3.0.0] but these conflict w

[2017-01-05 21:52] bshaffer commented on #133
Hi @ashleyliu31. This is strange, as I don't see any conflicts. Try removing your `vendor` directory and installing again.

Do you have any other dependencies in your project?

[2017-01-06 04:34] tuupola commented on #133
How does your `composer.json` look?

[2017-01-06 05:58] ashleyliu31 commented on #133
{
    "config": {
        "disable-tls": false
    },
    "require": {
        "firebase/token-generator": "^3.0"
    }
}

i found these codes in the file. Any clues?

[2017-01-06 06:03] ashleyliu31 commented on #133
I tried removing the vendor directory and kreait/firebase-php and nothing worked.
However, when i required firebase/php-jwt ^3.0 (with ver. number) it worked! Perhaps something is incompatible with 4.0?

[2017-01-06 18:48] bshaffer commented on #133
So I believe the issue is you're using `$ composer require firebase/php-jwt`, which tries to use the latest major version. For this library, the latest major version is `4.0`, but the `kreait/firebase-php` library uses `3.0`. So, if you want to explicitly include `firebase/php-jwt` in your `composer.json`, you'll need to specify you want to use the `3.0` version:

[code]

** OR **

[code]

**Note*

[2017-01-06 18:48] #133 closed

[2017-01-08 21:33] berega commented on #112
try to run the composer for the directory (cd..)
C:\xampp\htdocs\milk>composer require ...

[2017-01-09 19:16] bshaffer commented on #112
@andrebruton Yes, @berega is correct. Run the command `composer require firebase/php-jwt` from your application root directory, and not from the root directory of this repo.

[code]

[2017-01-09 19:16] #112 closed

[2017-01-23 23:22] araneta opened #136 "Silex 2"
it seems this library does not support Silex 2. I can't install it. Please help

[2017-01-24 05:02] tuupola commented on #136
What is the actual problem? What error do you get?

[2017-01-24 14:52] bunlongheng opened #137 "What is $key = "example_key"; ?"
Can you please tell what is $key = "example_key"; ?

Where do we get it from ?

[2017-01-24 15:54] tuupola commented on #137
It is a key which you can create yourself. It can be any randon string. It is used for signing the tokens so you should keep it a secret.

[2017-01-24 16:01] bunlongheng commented on #137
Ok. Thanks for your clarification.

[2017-01-24 16:01] #137 closed

[2017-01-25 08:22] gamgem opened #138 "Unable to verify signature"

[2017-01-25 08:26] #138 closed

[2017-01-25 08:27] gamgem commented on #138
Don't know if I can delete this, but I opened the issue and just like any good problem the second I asked for help I figured it out. O_o

[2017-01-30 14:02] tebinu opened #139 "Not compatible with PHP 5.3 as stated"
JWT.php
----------------------------------------------------------------------
FOUND 2 ERRORS AFFECTING 2 LINES
----------------------------------------------------------------------
ERROR | The function hash_equals() is not present in PHP
     |       | version 5.5 or earlier
ERROR | The function json_decode() does not have a parameter
     |       | "options" in PHP version 5.3 or earlier

[2017-01-30 14:57] tuupola commented on #139
There is a [check](https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L236-L238) whether `hash_equals()` exists or not. Pure php implementation is used as fallback.

There is a [check](https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L262-L267) for PHP version to see if `json_decode()` supports options. Fallback is used for PHP versions older than 5.4.

[2017-01-31 08:35] #139 closed

[2017-02-20 04:37] CHOMNANP opened #140 "Implement Firebase/php-jwt with Laravel 5"
I would like to implement this with Laravel 5+.

Any recommend wrapper package?

[2017-02-21 14:00] Nolhian opened #141 "Return false instead of throwing DomainException on openssl_verify returning 0"
Why is it throwing a [DomainException](https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L229) when the signature is incorrect in the static verify method ?
It should just return false which will in turn throw the correct [SignatureInvalidException](https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L109), shouldn'it ?

EDIT : Also openssl_verify returns -1 on error. If that hap

[2017-02-23 07:02] JustDNA commented on #127
Same issue +1

[2017-02-23 07:03] JustDNA commented on #127
I come across this error few times every day out of some 1000 times

[2017-03-26 22:12] rhamses commented on #141
Hi, just wondering... Have you tried put `JWT::decode($jwt, $key, array('HS256')` into a **`try{}catch{$e}`** block? That solved the problem for me here.

[2017-03-28 09:21] hoangcao10 opened #142 "how to use with different servers"
My app have two servers
Server web: generate token send to app mobile
server api: get token from app mobile
How to verify token on Server api?
thank all.

[2017-03-28 16:53] lindelius commented on #142
This question doesn't really belong here as it's not a library specific question. But, to answer it, both the application sending the token and the application verifying the token must be using a library like this one to decode the tokens and they must also be able to access the encryption key(s) that are used to encode the tokens.

With that said, it seems a bit odd having one application issue t

[2017-04-04 15:10] diamond-darrell commented on #127
I have a similar issue.
I found out that if I copy generated token from server response and just hardcode it in app (frontend side), it works fine. But if I pass received token, it fails.
So, I think that token is valid, but for some reason login fails.

[2017-04-05 13:33] diamond-darrell commented on #127
I've figured out the problem in my case.
It was wrong time on the server. So, "iat" and "exp" dates were wrong

[2017-04-05 22:13] jmcmurdo91 opened #143 "Leeway not applying to self"
I am using JWT.php from the Google PHP API and when I first authenticate using a Google Account JWT.php throws a Fatal Error. If I refresh the page a few seconds later the error goes away.

On line 112 of JWT.php I alter the error message to:

` if (isset($payload->iat) && $payload->iat > (time() + self::$leeway)) {
            throw new BeforeValidException(
                'Cannot handle token p

[2017-04-06 10:52] jmcmurdo91 commented on #143
Outdated version, apologies.

Have noticed Pull #88 which should have resolved this.

[2017-04-06 10:52] #143 closed

[2017-04-06 18:38] gbittmann opened #144 "Missing decode example"
There doesn't seem to be an example of how to use this library to decode a jwt provided from firebase authentication.

[2017-04-06 19:31] gbittmann commented on #144
`<?php

// Reference: https://firebase.google.com/docs/auth/admin/verify-id-tokens

require_once "vendor/autoload.php";

use \Firebase\JWT\JWT;

try {
    // Token to decode
    $jwt = 'your_token_here';

    // Get public keys from URL as an array
    $publicKeyURL = 'https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com';
    $key = json_decode(file_get_content

[2017-04-06 20:06] bunlongheng opened #145 "$key = "example_key"; <---- Where do I get this from ?"
I have configured everything, but I am not sure what to put for key.

[code]
Where should we get our key from ? iDP OpenID IT people ?

[2017-04-06 20:45] bunlongheng opened #146 "How to get the payload data ?"
I've configured

// public key
$key = "**********";

$token = array(

    //The issuer of the token
    "iss" => "https://login.uat.telenet.be/openid",

    //The audience of the token
    "aud" => "benu",

    //“Issued at” time, in Unix time, at which the token was issued
    "iat" => 1491506544,

    //“Not before” time that identifies the time before which the JWT must not be accepted for proc

[2017-04-07 02:21] tuupola commented on #146
Payload is the data you encode into the token. Are you trying to print the token? Is yes then do `print $jwt;`

[2017-04-07 02:23] tuupola commented on #145
Key is a secret key you can create yourself by for example by randomly typing characters in your keyboard.

[2017-04-07 20:35] delta9 commented on #127
@diamond-darrell Thanks!! You saved me from pulling my hair out while testing.

[2017-04-11 16:25] gbittmann opened #147 "Encode example broken"
The example  from https://firebase.google.com/docs/auth/admin/create-custom-tokens

[code]
Decode result:

If you modify the call to include the 'private_key_id' from the service account json file.

`JWT::encode($payload, $private_key, "RS256", $private_key_id);`

Decode result:

The example is either broken, or their needs to be a special decode example that maps to creating a custom token.

[2017-04-16 02:43] francescobianco opened #148 "Static methods for encode and decode"
Why use static methods istead object method and $key as private injected into __construct(...)?

[2017-05-10 01:09] Rhonun commented on #127
@diamond-darrell THANK YOU!

[2017-05-13 10:22] uyy1101 opened #150 "document has error"
I think I m wrong

[2017-05-31 04:35] fuadmuhtaz commented on #148
Static better because we just call the method once.

[2017-05-31 04:37] fuadmuhtaz commented on #145
$key = 'Your secret word";

[2017-06-01 03:21] algery opened #152 "Why would my key be exposed?"
----
Fatal error: Uncaught exception 'Firebase\JWT\SignatureInvalidException' with message 'Signature verification failed' in E:\webAPP\babyGrowService\api\token\vendor\firebase\php-jwt\src\JWT.php:97 Stack trace: #0 E:\webAPP\babyGrowService\api\token\token_check.php(37): Firebase\JWT\JWT::decode('eyJ0eXAiOiJKV1Q...', 'baby_key', Array) #1 E:\webAPP\babyGrowService\api\token\token_check.php(41):

[2017-06-09 10:24] goodrickstar opened #153 "Decoding problem"
I have validated the JWT via the web. With secret base64 encoded checked it passes, unchecked it does not.

io.jsonwebtoken:jjwt:0.7.0

[code]
returns the token: eyJhbGciOiJIUzI1NiJ9.eyJkZXZJZCI6Ijc4MGQ1YWRlMzMwNGVhZmEifQ.XIKxG1xZbuMD8FRIAJ735LNbhodAj1a7pMZ6o3IF0ig

[]https://jwt.io/

![example](https://user-images.githubusercontent.com/12790922/26977940-9bd261c6-4cf7-11e7-8f80-0ac003ef2c86.png)

[2017-06-09 12:32] lindelius commented on #153
Shouldn't `$key` be "testing" like on the screenshot, though? And not "passing".

[2017-06-09 13:45] goodrickstar commented on #153
I've updated my code, with the proper screenshot and included the Android library i'm using to create the token.

[2017-06-09 14:03] goodrickstar commented on #153
I've also tried
`$key = base64_encode("testing");`

[2017-06-09 15:55] goodrickstar commented on #153
UPDATE:
using the php to generate the JWT then Decoding I end up with a different token. The difference when verifying is "secret base64 encoded". How to account for secret base64 encoded on the PHP side?

[2017-06-09 18:15] goodrickstar commented on #153
The answer was I was missing the "typ":"JWT" header and having to decode the key

[code]

PHP SIDE

     `$decoded_array = (array) JWT::decode($jwt, base64_decode($key), array('HS256'));`

[2017-06-12 15:24] CharltonSantana commented on #147
@gbittmann This is because the example has `$private_key = "-----BEGIN PRIVATE KEY-----...";`. You need to replace this with your private key which is in the firebase service account key file.

I would suggest your PHP code to open this file and read the private key instead of putting it directly in your source code.

[code]

[2017-06-17 17:02] kreshnik01 opened #154 "Should i save in sessions or cookies"
Where do i save my generated token, in sessons or cookies?

[2017-06-19 18:52] akeeman opened #156 "Package not tested on PHP 7.0, 7.1, HHVM"
The package is currently not tested with PHP 7.0, 7.1, and HHVM.
- tests on PHP 7.0 don't work because no phpunit is available, and the current test setup doesn't work with phpunit 5.7
- PHP 7.1 has not beed added to .travis.yml file, and if it were, see the point above.
- HHVM isn't tested, because "HHVM is no longer supported on Ubuntu Precise. Please consider using Trusty with `dist: trusty`."

[2017-06-20 19:20] akeeman commented on #156
See https://github.com/firebase/php-jwt/pull/157 and https://github.com/firebase/php-jwt/pull/158

[2017-06-20 19:20] #156 closed

[2017-06-21 20:57] bshaffer commented on #99
fixed in #110

[2017-06-21 20:57] #99 closed

[2017-06-22 02:51] #109 closed

[2017-06-22 09:47] akeeman commented on #154
Does [this](https://jwt.io/introduction/) help?

[2017-06-22 14:10] kreshnik01 commented on #154
@akeeman No it's not because this example it's for node.js and I have to use JWT on PHP.

[2017-06-22 14:11] kreshnik01 commented on #154
@akeeman No it's not because this example it's for node.js and I have to use JWT on PHP.

[2017-06-28 14:45] hamburger123456 opened #168 "Fatal error: Uncaught exception 'Firebase\JWT\ExpiredException' with message 'Expired token'"
Hello,
I get this message: Fatal error: Uncaught exception 'Firebase\JWT\ExpiredException' with message 'Expired token' in /www/lalalal/jwtTest/JWT/JWT.php:134 Stack trace: #0  /www/lallal/jwtTest/index.php(63): Firebase\JWT\JWT::decode('eyJ0eXAiOiJKV1Q...', 'example_key', Array) #1 {main} thrown in /www/lalalla/jwtTest/JWT/JWT.php on line 134
Do I have to declare my own Exception? I'am using this

[2017-06-28 16:44] Akshata-Unocoin commented on #144
"Algorithm not allowed" iam getting this error after excuting the above example

[2017-06-28 22:08] bshaffer commented on #168
this class should be declared in the file being referenced in your statement `require 'JWT/ExpiredException.php';`

I would suggest using composer, so that you can be sure these classes are autoloaded correctly.

[2017-06-28 22:09] bshaffer commented on #168
Ahh yes, this is expected behavior. You need to catch the exception and handle it.

[2017-06-28 22:09] #168 closed

[2017-06-28 22:14] bshaffer commented on #144
This is because the algorithm declared in the `$jwt` header is not in the allowed algorithms you're passing in, i.e. it's not `RS256`.  See [here](https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L97).

To see what your JWT's header is, do this:

[code]

[2017-06-28 22:14] #144 closed

[2017-06-29 08:05] Akshata-Unocoin commented on #144
WIll you please send me the proper example for deocde.

[2017-06-29 08:09] myGIT843960877 commented on #144
Please make sure your algorithm  in right reocrd

[2017-06-29 08:13] Akshata-Unocoin commented on #144
Please make sure your algorithm in right reocrd - you mean updated one?

[2017-06-29 08:22] myGIT843960877 commented on #144
Here code in my program
` global $sys_setting;
        $jwt_conf = $sys_setting['jwt'];
        if(empty($jwt_conf['alg']))
        {
            $jwt_conf['alg'] = 'RS256';
        }
        if(in_array($jwt_conf['alg'], array('RS256','RS384','RS512')) == 0)
        {
            $ssl_conf = $sys_setting['ssl'];
            if(empty($ssl_conf['pri_key_path']))
            {
                throw

[2017-06-29 08:32] Akshata-Unocoin commented on #144
See i need proper decode method.....
when i execute this

"<?php

// Reference: https://firebase.google.com/docs/auth/admin/verify-id-tokens

require_once "vendor/autoload.php";

use \Firebase\JWT\JWT;

try {
    // Token to decode
    $jwt = 'your_token_here';

    // Get public keys from URL as an array
    $publicKeyURL = 'https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gse

[2017-07-14 07:51] #153 closed

[2017-07-15 01:09] #65 closed

[2017-07-19 19:28] #147 closed

[2017-07-25 14:26] Tom29 commented on #154
If you store it in session, it might be expired after session has expired.
Then user need to re-login to get other jwt.
Store it in cookie then doesn't need to retrieve other jwt until cookie / token expired

[2017-07-25 17:07] Tom29 commented on #152
Same question here.

[2017-07-31 13:08] pramodwerea opened #169 "where to store user info in sub or aud"
Is it a correct way to set the user info(id, name) in the **aud** payload field and read the **aud** field after de-code to get the user? Because while reading through JWT articles seems user info is mainly saved into "**sub**" subject field.

[2017-07-31 13:20] pramodwerea opened #170 "do we need to verify payload (iat,nbf,exp) ourselves"
After decoding the payload I am getting all the payload data (aud,iat,nbf etc). Now is there any function to call to see if the token is still valid w.r.t. exp or nbf or exp. Or it does automatically when we do deocoding of token? Because I have **iat** and **nbf** value set as in the given example which is expired unix timestamp, it decodes correctly.

Also, how can we prevent request **replay at

[2017-07-31 18:54] HenryNe commented on #169
You can simply add your fields id and/or name to the jwt. There is no problem with your own field names, as long you not use _Registered Claim Names_ (rfc7519). Of curse, you can use aud for it, because aud is interpreted by application only.
For me, I use sub for what the user will do. For example sub="login", name="me".

[2017-07-31 19:09] HenryNe commented on #170
You nor need to check the **nbf** and **exp**. You will gt an exception, if the token is out of time.
The **aud** is not checked by this library. The application (you) must do it self after decoding.

Against the replay attack: Put some more information in the jwt, for example the source IP port. Of curse, who has the token, can send the information. Sou you should send it only thought secure (htt

[2017-08-01 07:46] pramodwerea commented on #170
@HenryNe thanks for the information!

[2017-08-01 07:46] #170 closed

[2017-08-01 07:47] pramodwerea commented on #169
@HenryNe thanks for the information!

[2017-08-01 07:47] #169 closed

[2017-08-03 13:05] pramodwerea commented on #154
what about storing them in localStorage?

[2017-08-03 15:07] pramodwerea opened #171 "How to invalid the token on logout"
how to prevent someone not to use already used token. My use case is when a user log-out the application I want to invalid the used token so that next time no one can use it if someone has taken it for some reason.

Is there a way to blacklist the used token?

[2017-08-04 19:15] fikoborquez commented on #154
@pramodwerea should work too

[2017-08-04 19:19] Tom29 commented on #171
After user logged out, delete the token.
If you want it get expired , only 1 way is storing it in the db, then manage it.

[2017-08-07 07:51] pramodwerea commented on #171
@fikoborquez thanks a lot, I will go through the links! @Tom29 yes I am deleting the token after logging out, my concerned is when a user does not log out manually.

[2017-08-07 18:40] LuisMejiaF commented on #171
You have to specify the `exp` claim, which MUST be the time when the token will be expired.
Then when you tried to decode the token with `Firebase\JWT\JWT::decode()`, you will get a **ExpiredException**.

[2017-08-11 15:12] SvenRtbg commented on #171
Generally you cannot rely on the token being deleted. Limit the time range where the token is valid to enforce a logout after a certain time.

Also note that JWT is not suited to be used to store session data on the client:
http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/
http://cryto.net/~joepie91/blog/2016/06/19/stop-using-jwt-for-sessions-part-2-why-your-solution-doesnt-w

[2017-08-11 15:12] SvenRtbg commented on #154
http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/
http://cryto.net/~joepie91/blog/2016/06/19/stop-using-jwt-for-sessions-part-2-why-your-solution-doesnt-work/

[2017-08-11 23:06] NexProME commented on #40
It's timezone fault!
in my case it's work(day), not work(night after 12AM), work again(tomorrow)!
when it's stop working, just set timezone to America/New_York and its work, remove timezone then stop working.
And its happened because of some country have future date window rather than usA.
you know that if you change your system date time then SSL stop working.
I think it's the same problem. googl

[2017-08-31 08:01] ganganimaulik opened #172 "this repo is not showing up in search"
I search for **jwt** and sort by **most stars**

https://github.com/search?o=desc&q=jwt&s=stars&type=Repositories&utf8=%E2%9C%93

can't see it. I think something is wrong, either with github or some settings in this repo.

[2017-09-01 16:41] tgrowden opened #173 "Firebase\JWT\ExpiredException should return a 401 status code"
Firebase\JWT\ExpiredException should return a 401 status code; currently it returns a 500 status code. As this is dealing with auth and not an internal server error, 401 seems more appropriate.

[2017-09-05 20:51] eddie-g opened #175 "Someone is wrong with validating google tokens {Signature verification failed}"
I get the following error when validating my google token,
[code]

Yet when i request this url https://www.googleapis.com/oauth2/v2/tokeninfo?id_token={mytoken} with the value of mytoken I get a valid request with data back.

This is the line that's causing the error:
Tokens value here is correct, verified against googles servers.
`$payload = $this->jwt->decode($idToken, $rsa->getPublicKey(),array

[2017-09-07 18:16] fikoborquez commented on #175
[this](https://stackoverflow.com/questions/25086410/what-part-of-the-key-object-do-i-pass-into-openssl-verify-to-verify-a-google-s) may help you

[2017-09-21 09:57] chimit opened #176 "How to distinguish UnexpectedValueException thrown by php-jwt from the same exception thrown from another place?"
I catch all app exceptions in one place. It's easy with **ExpiredException** or **SignatureInvalidException**, but php-jwt also uses an **UnexpectedValueException**. It's a general SPL's exception and it may be used in other packages. How to distinguish them?

[2017-09-22 15:14] fikoborquez commented on #176
Can you give an example of what you want to achieve?

[2017-09-23 04:15] chimit commented on #176
I'm using this package in Laravel and handle all exceptions in `App/Exceptions/Handle.php` like this:
[code]
It works, but I'm afraid if some another package throw the same `UnexpectedValueException` the server response would be irrelevant.

[2017-09-23 06:05] fikoborquez commented on #176
Maybe you could check what file is creating the exception. You can use the method [getFile](http://php.net/manual/en/exception.getfile.php) from Exception class.

[2017-09-25 04:08] chimit commented on #176
Yes, it's a way to solve this problem, but I think it would be better to use only custom exceptions to avoid any dirty checking.

@robertdimarco could you, please, comment?

[2017-09-25 15:33] lindelius commented on #176
@chimit feel free to use [my library](https://github.com/lindelius/php-jwt) if you need this functionality. I've got a slightly different (OOP) aproach, though, but I think I've included enough documentation to explain how to use it :)

[2017-09-26 02:01] diegoeduardorios commented on #70
any progress?

[2017-10-05 07:49] Tsuchiyagig opened #177 "Why don't create Custom Token."
Hi develope team.

Please Check code.
[code]
↓
openssl_sign(): supplied key param cannot be coerced into a private key

[2017-10-09 18:51] ricardinhorio opened #178 "Class 'JWT' not found in /var/www/html..."
Hi Folks,

I am using drupal 7 with php version 5.5.35.

We installed the openid module and there we have a class called OpenIDConnectClientBase.class.php.
Inside this class, I am trying to define a method to decode the access code with this library but we are receiving the error:  Class 'JWT' not found in /var/www/html/portal/sites/all/modules/openid_connect/includes/OpenIDConnectClientBase.class

[2017-10-09 19:08] ricardinhorio commented on #178
The code is:
[code]

[2017-10-09 22:58] bshaffer commented on #178
The code is trying to access the class`JWT`, which was namespaced to `Firebase\JWT\JWT` in `v3.0`.

You need to either update the code to use `v5.0`, or install `v2.2` instead, as that's the last major release that does not use namespaces:

[code]

[2017-10-09 22:58] #178 closed

[2017-10-09 22:59] bshaffer commented on #178
Updating the code is *highly recommended*, as security fixes have taken place since `v2.2`! This will take more effort and may require PRs to the openid connect module, but it'll be worth it!

[2017-10-09 23:04] bshaffer commented on #178
For the record, I looked at the code in [openid_connect module](https://www.drupal.org/node/2274339) and at this [github repository](https://github.com/sanduhrs/drupal-openid_connect) and couldn't find any reference to firebase JWT, so I'm really not sure what's going on here.

[2017-10-10 12:24] ricardinhorio commented on #178
Hi bshaffer,

I am using the openid_connect_module in order to saveuser info with the roles that come in the token but for that, I need to decode the token.
It is a base64 but we should use realm's key in order to guarantee the integrity.

That is reason why I am trying to use the Firebase JWT.

I understood that I can install 2.2 but how can I handle it if I want to use the 5.0 version?

[2017-10-20 00:50] Cosmicist commented on #148
I'm building a JWT authentication library, but since this library is purely static, I can't properly unit test my own classes in isolation (as unit testing is supposed to be). I really do like it, but I'm being forced to either choose another library or create a non-static wrapper class and use that as a dependency in my other classes, just to be able to mock/double it...
Basically, if it wasn't s

[2017-10-22 10:23] scwl-studio opened #181 "[!!!ERROR!!!] Fix this pls."
sorry, maybe your make mistake in this part of your code?
`if (isset($payload->nbf) && $payload->nbf > ($timestamp + static::$leeway))`
this means that if the current date is less than the end, then the token will not work
but the same condition is repeated for the creation date:
`if (isset($payload->iat) && $payload->iat > ($timestamp + static::$leeway))`
that is, the token will always not work.

[2017-10-22 13:16] lindelius commented on #181
`nbf` is ”not before” and means that the token should not be valid before the given timestamp, i.e. the `nbf` value *must* be less than the current time (plus possible leeway time) in order to be considered valid.

The library is correct, your ”fixed” version is not.

[2017-10-22 13:29] scwl-studio commented on #181
Ok. Thx.
I made a mistake)

[2017-10-22 13:37] lindelius commented on #181
No worries :)

[2017-10-23 00:23] Cosmicist commented on #148
This would be very helpful. Testing my own library if I use this one as the JWT "driver" is a nightmare, so it forces me to think about creating a proxy or just ditch it and use another one...

[2017-10-23 15:55] #181 closed

[2017-10-27 07:54] gana549 opened #182 "firebase connection in php"
hi.. i m gana actually i m trying to firebase connection in php

i follow the https://firebase-php.readthedocs.io

'; $firebase = (new Factory) ->withServiceAccountAndApiKey($serviceAccount, $apiKey) ->withDatabaseUri('https://my-project.firebaseio.com') ->create(); ?>

but i got an error like

"Fatal error: Uncaught Error: Call to undefined method Kreait\Firebase\Factory::withServiceAccountAndApi

[2017-10-30 23:12] bshaffer opened #183 "Add ES256 to the list of supported agorithms"

[2017-10-31 17:18] LukeTowers commented on #175
The signature verifications when it goes through the GoogleClient->authenticate($code) workflow. The JSON web token that the Google API Client library provides Firebase\PHP-JWT is valid (and will work correctly when verified direct with Google (https://www.googleapis.com/oauth2/v2/tokeninfo?id_token=), however when PHP-JWT attempts to base64decode() the token's signature, it sometimes fails, retur

[2017-10-31 17:18] LukeTowers commented on #175
I have no idea yet what is causing the sporadic failure of the signature being decoded.

[2017-11-16 04:55] royanon commented on #173
In the decode statement, use try and it will not return a 500 status. Handle it with 401. e.g.
try{
 $decoded = JWT::decode($accesstoken, $this->publicKey, array('RS256'));
} catch (\UnexpectedValueException $e){
 error_log("UnexpectedValueException:[" . $e->getMessage()."]");
} catch (\Exception $e) {
 error_log("GeneralException:[" . $e->getMessage()."]");
}
if(!$decoded->uid){
 header('HTTP/1.1

[2017-11-25 16:25] rahendz opened #185 "Private Key & Public Key"
first, sorry for my bad english. I'm indonesian by the way. So is there anyone here could explain how to create private and public key. i know some of you will tell me that use the ssh_keygen to generate private or public key. But what i ask is, how create public keys that could decode the encoded payloads using private key.

Is all public key generated from the private key, or else? if its genera

[2017-11-27 14:10] rafaelrenanpacheco commented on #185
To generate keys, take a look at: http://php.net/manual/en/function.openssl-pkey-new.php

The first example shows how to generate a public key from a private key.

Then you can use those keys in php-jwt.

:+1:

[2017-11-29 22:47] topdown commented on #182
This is not Firebase PHP, this is PHP JWT
You need to have this installed in your app https://github.com/kreait/firebase-php/

[2017-11-30 01:23] rahendz commented on #185
@rafaelrenanpacheco thanks for the answer, so basically it could generated different public key again and again from one private key?

[2017-12-23 09:34] rez1dent3 opened #187 "Duplication of a code"
JWT.php
[code]

[2017-12-23 09:42] #187 closed

[2018-01-04 02:36] JorisDebonnet commented on #175
We have also been having this problem. Has anyone been able to shed any light on it?

It "usually works" but "sometimes" it doesn't. Our API log shows the **exact same input** going into the method, but one time it works, and another there's a Firebase\JWT\SignatureInvalidException saying "Signature verification failed".

(note: we are using google/apiclient, which in turn uses this package.)

[2018-01-04 05:04] LukeTowers commented on #175
@JorisDebonnet do you know which function the code uses to verify the signature in your case? https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L228

[2018-01-05 00:04] D-Marc1 opened #188 "Exception handling in examples"
Can you please add exception handling to the examples?

[2018-01-05 17:09] mewejo commented on #68
This would be very handy to have, to say find the users ID from the payload, to then fetch their token to validate the JWT against. I'll extract them manually for now, but it's a shame to miss out on extra validation this library already provides.

[2018-01-06 23:46] JorisDebonnet commented on #175
@LukeTowers I put some logging there, and seems like it's using openssl / SHA256. So `openssl_verify` returns `0`.

Does that mean the `$signature` is not constructed correctly, and/or should I file this issue under google/apiclient?

[2018-01-08 02:01] LukeTowers commented on #175
@JorisDebonnet what happens is that the signature is pulled from the JWT here: https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L87, however it sometimes fails to properly base64decode the signature. I can't remember exactly what was causing the failure, but basically that method was returning an invalid base64 decoded string. I would start by attempting to debug that method and each st

[2018-01-08 06:51] sam17896 commented on #175
I am having same issue right now... its is working on my local server but when i deploy my api to the server it throw "Signature Verification Failed" any workaround ?

[2018-01-08 14:37] LukeTowers commented on #175
@sam17896 you could be having a separate issue if your verification is consistently failing. Anything from your server having an incorrect version of OpenSSL to your configuration being different between local and production. Did you try to replicate the steps of https://github.com/firebase/php-jwt/issues/175#issue-255404904 to see if this is actually your issue?

[2018-01-12 10:52] gsdiama opened #189 "Encrypting/Decrypting problem with JWT Firebase RS256"
Hi everybody,

I don't know what I'm not doing right but Firebase custom token created with this JWT library can't be decoded properly.

**Encoding process (PHP 5.4):**

[code]
It returns a JWT that I store in the app in order to check the validity of the comming events. If I go to jwt.io I get an invalid signature message.

**Decoding process (PHP 5.4):**

$jwt is the JWT returned by the server.

[2018-01-17 03:48] JorisDebonnet commented on #175
I finally fixed my issue for me with a single line...
`composer update google/apiclient`

Suddenly the login wasn't working at all anymore for me, so I spent over an hour trying to debug it further, but updating google/apiclient from 2.2.0 to 2.2.1 somehow fixed the issue.

[2018-01-17 08:39] gsdiama commented on #189
Hi,

Anyone could know what the problem is?

Thanks in advance,

GSDiama

[2018-01-21 23:40] NoSoup4you2 opened #190 "Uncaught Error: Class 'Firebase\JWT\BeforeValidException"
i was able to install JWT and get it running but everytime i have a value in nbf that is later then now it throws an error with following message.

`Fatal error: Uncaught Error: Class 'Firebase\JWT\BeforeValidException' not found in /var/www/html/security/JWT.php:118 Stack trace: #0 /var/www/html/security/token.php(62): Firebase\JWT\JWT::decode('eyJ0eXAiOiJKV1Q...', 'b\x8B\xABI\xE7+z\xD2\x9E', Arr

[2018-01-25 12:03] tersmitten commented on #123
How did you generate the key pair?

We use this:

[code]

and that seems to work :-)

[2018-01-26 03:14] #123 closed

[2018-01-26 22:23] DaveXclusivesites opened #192 "Expired JWTs not getting checked"
In testing expired tokens I found they are not being blocked.

The code doing this work was using $payload->exp instead of $header->exp.  Changing it in src/JWT.php corrected the issue for me.

I also changed references from $payload->nbf and $payload->iat to $header->nbf and $headers->iat.

Here is the new code for your review.

[code]

[2018-01-26 23:55] bshaffer commented on #173
Can you rebase this commit? Doing so will allow the test to pass!

[2018-01-27 10:21] HenryNe commented on #192
The nbf and exp should not present in the header.
Please refer [RFC 7519,](https://tools.ietf.org/html/rfc7519#page-9) and chapter [Payload in jwt.io](https://jwt.io/introduction/). `nbf` and `exp` are Registered Claim Names, and Claims are in `payload`.

[2018-01-27 11:11] HenryNe commented on #185
I can not speak for the functions in function.openssl-pkey-new.php. Typically for private and public keys, you would get the same public key every time you use the same private key.

If you have an private key, you can create the public from this with openssl:
`openssl rsa -in private.key -pubout > pubkey.key`

in issue #116 we spoken about using keys, and creating them. In [comment](https://githu

[2018-01-27 14:16] DaveXclusivesites commented on #192
My mistake thank you

On Jan 27, 2018 5:21 AM, "Henry N." <notifications@github.com> wrote:

[2018-01-29 18:42] psignoret commented on #190
The exception says that the class `Firebase\JWT\BeforeValidException` is not defined. Are you using a dependency manager with autoloader (e.g. Composer), or manually includeing the exception classes?

If you try to decode a JWT token before the time specified in `nbf`, this library will throw an exception, of type `Firebase\JWT\BeforeValidException`, which is defined in [BeforeValidException.php](

[2018-02-01 12:07] parmap commented on #83
Because i run into same problem, i used little bit different solution

[code]

it's little bit better, because if you have non expiring refresh token, which can gain new access token, then you don't have to worry which leeway is enough, cause the condition is `($timestamp - static::$leeway) >= $payload->exp`, so this solution will success with any `exp` higher then zero.

[2018-02-02 22:38] mlenoir42bis opened #194 "Fatal error: Uncaught Firebase\JWT\ExpiredException"
Hello,

this line generate a fatal error :
 $tokenArray = JWT::decode($token, SECRET_KEY, ['HS256']);

error message :
<b>Fatal error</b>:  Uncaught Firebase\JWT\ExpiredException: Expired token in /Library/WebServer/Documents/api/app/vendor/firebase/php-jwt/src/JWT.php:134

I integrate the class like that with composer :

require_once ROOT . "/app/vendor/autoload.php";
use \Firebase\JWT\JWT;

Than

[2018-02-06 09:21] alexandre-le-borgne commented on #194
Hi,

Same issue here.
The decoded claim 'exp' is badly decoded. (also 'iat' claim)

I tested my token on this site (https://jwt.io/) and my data is correct: the token has not expired. While, just after being generated, the timestamp is already invalid according to JWT :: decode

**exp on https://jwt.io/ :** 1517909152
**exp after JWT::decode() :** 1517906978 (invalid)

**id_token :**
eyJ0eXAiOiJKV

[2018-02-06 09:54] alexandre-le-borgne commented on #194
You should debug the payload->exp at JWT.php:132 and use https://jwt.io/ to compare the claim exp of your id token.

[2018-02-07 21:22] mlenoir42bis commented on #194
my token is good. This is the class that is not recognized

[2018-02-07 21:25] alexandre-le-borgne commented on #194
Are the dates given by the library and by jwt.io the same?

[2018-02-07 21:33] mlenoir42bis commented on #194
the fatal error does not allow any return of the decode function

[2018-02-07 21:34] mlenoir42bis commented on #194
the fatal error does not allow any return of the decode function

[2018-02-07 21:37] alexandre-le-borgne commented on #194
This is why you need to var_dump(payload->exp);die; at JWT.php:132 in your vendors

[2018-02-07 21:43] mlenoir42bis commented on #194
OK, thanks. by changing the location of the files it works. it's probably because of loading the class of my micro-frameworck

[2018-02-07 21:43] #194 closed

[2018-02-27 14:36] mwakaambrose commented on #189
Same problem here. 'RS256' encoded tokens don't seem to be encoded properly.

[2018-03-09 01:53] michaelzhouh opened #197 "how to use it in codeigniter3?"
how to use it in codeigniter3?

[2018-03-13 06:36] mikeching opened #198 "how use it on yii2?do someone use that before?"
how use it on yii2?do someone use that before?thanks

[2018-03-19 16:26] dextermb opened #199 "RSA 256 decoding issues"
Hey,

I am attempting to encode and then decode a JWT token using an `RSA256` key pair.  But no matter what I try I am always getting the `DomainException`: `Unexpected control character found`.

I have attempted different methods of generating and fetching keys using PHP's OpenSSL library, but nothing seemed to work. So here's some of the code I am using.

### Class constants
[code]

### `generat

[2018-03-20 08:32] #199 closed

[2018-03-20 13:39] OrRosenblatt commented on #199
@dextermb I'm not sure why you closed the issue, but the same thing happens to me.
If you managed to solve the issue, can you please share why it happens and how to solve it?

[2018-03-20 16:42] dextermb commented on #199
There was a dumb mistake elsewhere in the code that I had missed. RSA256 now works as expected for me.

[2018-03-20 22:57] bshaffer commented on #199
@dextermb can you share your dumb mistake in case it's the same one @OrRosenblatt is experiencing?

[2018-03-21 07:52] dextermb commented on #199
I implemented this into Laravel, used `$request->header('authorization')` but I did not strip `Bearer` from the token, meaning it was decoding with `Bearer <token>`.

Completely separate file, didn't think to check it 😢

[2018-03-21 19:36] rps-repo commented on #197
This assumes you have already installed the library with composer.

`<?php
defined('BASEPATH') OR exit('No direct script access allowed');

use \Firebase\JWT\JWT;

class Myclass extends CI_Controller
{

    public function index()
    {
        $privateKey = file_get_contents('/path/to/private.key');

        $publicKey = file_get_contents('/path/to/pubkey.key');

        $token = array(

[2018-03-28 09:10] williamqian opened #200 "why use 'nbf' and 'leeway' at the same time?"
I'm a little confused

[2018-03-28 18:49] carmanchris31 commented on #200
Leeway lets you account for small discrepancies in different clocks. So if you tell me my coupon is not valid until 4:50pm and my watch says it's 4:59pm I could give you some leeway and let you use it because my watch might just be slightly off. That's why it's recommended to not be more than ~1-2 minutes.

[2018-03-28 22:31] williamqian commented on #200
I get it,thanks very much。

[2018-04-07 04:06] williamqian commented on #83
@fjaguado so if the token was revealed，it will be used forever?

[2018-04-08 01:41] williamqian opened #201 "how to get the jwt from server?"
if the jwt is in http header, javascript can't get it.

[2018-04-12 21:32] OrRosenblatt commented on #199
Thank you @dextermb! Apparently it was exactly the same issue, and stripping the `Bearer ` part from the header fixed it 😄

[2018-04-25 07:35] red-pirate opened #203 "How to add claim"
How I add  claim to   token  using this  this  php-jwt

[2018-05-01 00:00] kwallace-abvio commented on #70
rrdial, thank you for the pointer to fproject/php-jwt.  I'm working on a project that uses AWS Cognito and I was having trouble  converting the jwks.json supplied by AWS to PEM.  fproject/php-jwt works great for me in that it takes the jwks.json (all the keys), finds the right key, and converts it to PEM.  I'd prefer to use firebase/php-jwt but until it supports jwks I'll just use fproject/php-jwt

[2018-05-04 13:07] aunhappy opened #204 "when key is empty,decode report an error,but encode not"
![image](https://user-images.githubusercontent.com/15842120/39629543-254657f6-4fdf-11e8-858f-05f9dc05cc16.png)

[2018-05-16 06:11] janakaonline opened #206 "Unable to do composer install"
Hi, I tried running .. but it gives the following error,

[code]

What could be the reason for this? any leads?

Thank you,

[2018-06-02 12:52] Yamakasi opened #210 "Class 'Firebase\JWT\JWT' not found"
After a good composer install I get:

Class 'Firebase\JWT\JWT' not found

What is wrong here as the class is there.

[2018-06-02 22:51] Yamakasi commented on #210
Sorry my bad, I was installing this module while I was in the vendor directory and didn't notice.

[2018-06-02 22:51] #210 closed

[2018-06-05 20:19] Smaxor5 commented on #188
The answer is, apparently, "No."

[2018-06-06 10:53] carlo-fontanos opened #211 "What is the use of "iss" and "aud" in your example?"
I saw these 2 in your example:
[code]
I don't see any check for these parameters under **vendor\firebase\php-jwt\src\JWT.php**

What is it for? how do I use it in a real word scenario?

I have a react app running on the url: http://localhost/test:3000
And a php api server running on the url: http://localhost/test

My react app fetches data from php api server, so is it correct to set **iss** and *

[2018-06-06 21:01] Yamakasi commented on #211
Hi,

It's RFC documented, look here: https://tools.ietf.org/html/rfc7519#section-4.1

[2018-06-06 21:03] Yamakasi opened #212 "Object of class stdClass could not be converted to int"
Hi,

Is anyone familair with the following error ?

` AH01071: Got error 'PHP message: PHP Notice:  Object of class stdClass could not be converted to int in /home/myproject/vendor/firebase/php-jwt/src/JWT.php on line 126\n'`

[2018-06-06 21:04] Yamakasi commented on #212
OK, found it, I putted a DateTime object in there instead of a timestamp! Never thought about it :)

[2018-06-06 21:04] #212 closed

[2018-06-13 18:10] SkylerLS opened #213 "Missing @throws in JWT::verify"
The `openssl_verify` method will die if the `$key` passed in cannot be coerced to a valid public key.
I discovered this in a unit test where I pass `JWT::decode` some invalid bogus public `$key` like `potato`. Then when the call cascades down to `JWT::verify` and eventually to `openssl_verify`, the call dies with a fatal `ErrorException` having a message of `openssl_verify(): supplied key param ca

[2018-06-14 18:30] segunmicheal27 commented on #171
re-invalidation of token is very important the flaw i find out in this library, is the attacker get access to the previous token the server is liable to gain access login regardless of your time limit you assign the token, for the attacker are very smart that is why we need to revoke the token. Just vise visa
And i find out there is no claim algorithm included in this library, just to make token c

[2018-06-14 21:04] SvenRtbg commented on #171
@segunmicheal27 If you need to revoke access when the user logs out, there is a solution for you that is already invented: It is called "session", and it depends on server side state tracking together with a random string in a cookie acting as the access token.

Don't use JWT based libraries for this. The thing you want: JWT cannot deliver it.

[2018-06-27 09:41] mridah opened #214 "How to verify a jwt ?"
Suppose I get a jwt string xxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxx

Now, how will I verify this jwt ???

How will I convert this string back to an array to decode / verify it ? @bshaffer  @mbleigh @ultrasaurus

[2018-06-27 13:17] pravdinalex commented on #12
Аnd how should I get from paylod non standart fields, which names I should prepend with domain name? Shure need a param like that in json_decode...

[2018-06-28 15:32] cottton commented on #214
JWT::decodedecode($jwt, $key, array $allowed_algs)

see https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L69
Also there are examples here: https://github.com/firebase/php-jwt

[2018-07-03 16:48] andreszs commented on #206
Documentation should be updated to explain **how to install this library manually**, without using composer.

[2018-07-03 22:45] bshaffer commented on #206
If you can't get composer working, you can download the latest release from the [Releases](https://github.com/firebase/php-jwt/releases) page, and then run `composer dump-autoload` in the root directory. This will generate a file at `vendor/autoload.php`, and as long as you include that in your project, you'll have access to all the classes in this library:

[code]

[2018-07-04 13:47] andreszs opened #215 "RS256: Where does the $privateKey comes from?"
I'm trying to use php-jwt to verify user ID tokens from Firebase with [these instructions](https://firebase.google.com/docs/auth/admin/verify-id-tokens#verify_id_tokens_using_a_third_party_jwt_library).

However, I'm not sure where can I get the `$privateKey` for this. The example in README says nothing about where does this value comes from. Thanks in advance.

[2018-07-06 16:48] Chad-Krause opened #216 "Feature Request: Better documentation/ Read Me"
I am not seeing great examples in the readme.

What does the code look like after you decode the jwt?

What happens if someone modifies a jwt, what does verify and decode do?

What do all the options do in encode?

When would I use sign? If I wouldn't, how come it's public?

What are the speeds of various encryption methods?

I know I could look through the source/run tests myself to determine mos

[2018-07-13 07:54] juragandotid opened #217 "I think this is bug"
I'm try to encode from with RS256 (openssl) , and i'm get the encode token. and i'mt try to decode the token just using base64_decode, and i get the payload data.

please add some private key to decode the token.

[2018-07-13 13:02] cottton commented on #217
https://jwt.io/introduction/

[2018-07-13 14:30] Manuelacosta98 opened #218 "kreait/firebase-php composer incompatibility"
"kreait/firebase-php": "^1.2"
php 5.5.9

What's the issue?
is a composer releated problem i am triying to install booth firebase/php-jwt and kreait/firebase-php proyects in my symfony api proyect, the composer problems are as follow:

Problem 1

Installation request for microsoft/windowsazure ^0.4.5 -> satisfiable by microsoft/windowsazure[v0.4.5].
microsoft/windowsazure v0.4.5 requires firebase/p

[2018-07-24 22:18] bshaffer commented on #217
The JWT is used for authentication, and not for encryption. As mentioned by @cottton anything secret should be encrypted by hand inside the token and is not in the scope of this library.

[2018-07-24 22:18] #217 closed

[2018-07-27 02:27] ebernerd opened #219 "Verify token structure before going to decode"
[code]

If $token is indeed a valid three segment JWT, everything works fine. However, if someone sends something like `"this_is_not_a_valid_JWT" over the wires, the function errors and prevents any further code operations. First question is this: can I apply a try/catch to the decoding process?

Secondly, I suggest a function - `JWT::verify($token)`. It verifies that the string `$token` has the c

[2018-07-27 02:39] ebernerd commented on #219
I guess I have myself to blame, but I see that ::verify is already a function now - It would be nice to see a docs update to include this. Sorry to bother.

[2018-07-27 02:39] #219 closed

[2018-07-27 16:14] cottton commented on #219
Its private `private static function verify($msg, $signature, $key, $alg)`.
As far as i read the code every exception thrown at `::decode` indicates that the token is invalid.

I too would like to have more options|methods. But i would like to see this to stay as simple as it is atm.
That was the reason i have chosen it.

For now you can say on almost every exception the token is invalid.

Here an

[2018-07-27 16:17] cottton commented on #95
Shouldnt this be closed?
Im using the "kid" in the current version (5) and it is working as expected.

[2018-07-27 16:23] cottton opened #220 "Request for public function getHeader()"
Im planning to add a PR - perhaps somebody else is already on it.

In the mean time - if somebody needs the header to get f.e. the "kid" offset - you can extend the JWT and add a new method like this:

    /**
     * Returns the access token header.
     *
     * @param string $accessTokenString
     *
     * @return array|null
     */
    public function getHeader($accessTokenString)
    {

[2018-07-27 17:33] lindelius commented on #220
Hi @cottton
I've created a [library](https://github.com/lindelius/php-jwt) that includes, among other things that this library is unfortunately missing, both a `getHeader()` and a `getHeaderField($field)` method.

[2018-07-27 17:42] lindelius commented on #216
Hi @Chad-Krause
This library unfortunately doesn't seem like it's being maintained which is one of the reasons why I wrote [my own](https://github.com/lindelius/php-jwt). Feel free to check it out, and if you think the documentation is lacking something, let me know.

[2018-07-28 18:13] ebernerd commented on #219
Thank you for the very informed response!

[2018-08-02 01:50] sammyHa commented on #215
The private key is used from the firebase serviceAccount json file found in the firebase console to generate the token than use the public keys from google [here] to (https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com) verify the jwt token.

[2018-08-02 01:52] sammyHa commented on #215
The privatekey is used from the firebase serviceAccount.json file to generate the token and can be download from the firebase console. to verify the token use the the public key from this [link](https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com).

[2018-08-02 16:43] #95 closed

[2018-08-06 15:00] Klerith commented on #50
So sad to see this issue after two years with no answers :/

I have the same issue.

[2018-08-06 15:04] Klerith commented on #65
This works for me

[code]

[2018-08-07 10:47] markusila commented on #98
WTF
Also solved it with replacing single quotes to double quotes

[2018-08-13 12:01] almirb commented on #198
Hi!

I'm using this extension:
[https://github.com/Yemsheng/yii2-jwt](https://github.com/Yemsheng/yii2-jwt)

[2018-08-14 02:40] dyangua commented on #127
@theknicker the same problem i dont know, i use sdk firebase and works fine but with my custom jwt with parameters like documentation i have this `error Invalid assertion format. 3 dot separated segments required`

[2018-08-23 17:00] stevecoug opened #223 "BIGINT handling is broken"
This is really two issues surrounding the library's handling of integers > 64-bit in the `JWT::jsonDecode()` method.

1. The check to make sure we're not using the JSON_C extension is obsolete; that library fixed the issue years ago, so it's okay to use it for BIGINT parsing
2. The regular expression is not very robust. For example, if given the following JSON string, it will break:
`{
    "userna

[2018-08-30 04:00] mridah commented on #214
Thanks @cottton, that solved the problem :)

Also I would like to know one more thing: How to I revoke a jwt token ?

[2018-08-30 14:28] cottton commented on #214
Actually you cannot.
- (auth-) server generates a JWT and handles it out to the client
- client calls another service and provides the JWT
- service validates the JWT and can trust the client

The JWT gives the client access as long
1. the JWT the "exp" claim (expiration Time) is valid
2. the public key is valid
3. an id in the JWT is not blacklisted

1. "exp" claim defines i.e. 5 min. So the clie

[2018-09-02 07:36] vikas-kumar-bhardwaj commented on #215
Is this public key  always constant or changes periodically. I mean we need to fetch this every time or can be stored.

[2018-09-04 04:38] bhullar89 opened #224 "JWT signature failed errors are not coming as JSON errors in SLIM"
I am using Firebase JWT in one of my SLIM framework apps for RESTFul api. But all the JWT errors occur as slim app error rather than throwing back json errors ,which i can return to user.

Error is as below

[code]

Can you help how can i display JWT errros in json format ,so that my restful api return that json error to user.

[2018-09-04 14:47] yumi-cn opened #225 "The RS256 example just Puzzled me."
The RS256 example in the readme file can run in my runtime:

- OpenSSL Library Version: OpenSSL 1.0.2k 26 Jan 2017
- PHP version: 7.1.9
- API Framework: ThinkPHP 5.0

[code]

But when I try to use RS512 publicKey/privateKey in the example without any changes in the code, it just run as perfect as with the RS256 keys of the example **which means I still use the `RS256` mode to encode and decode my

[2018-09-17 14:19] johnrhunt opened #226 "Encoding JWTs adds escape slashes before base64 encoding"
So when you call the encode() method it uses the json_encode() function which by default escapes slashes - this isn't needed because the data is encoded anyway.

    vendor/firebase/php-jwt/src/JWT.php:304

    $json = json_encode($input);

The problem with doing this is that other services don't escape slashes and therefore if you're using this package to compare a signature it'll fail.

It would

[2018-09-19 20:52] butchmarshall commented on #177
See

[2018-09-26 13:27] beowulf1416 opened #227 "JWT::decode causes 504 gateway timeout error"
Whenever I call the JWT::decode function I'm getting 504 gateway timeout error.

My site is a codeigniter based website with a angular frontend. JWT::encode works fine though. I'm just using the HS256 algorithm.

[2018-10-07 07:09] desmondiazz commented on #224
@bhullar89 store the error message in an array , and then just use the json_encode function to get the errors in json format

`$result = array(
        'status'=>false,
        'message'=>null,
        'data'=>null
      );
      $fbPublicKey=$this->getFbPublicKey();
      try {
        $decodedToken = JWT::decode($oauthToken, $fbPublicKey , ["RS256"]);
        $result['status']=true;
        $res

[2018-10-07 13:04] beowulf1416 commented on #227
closing issue. problem was with the codeigniter logging code.

[2018-10-07 13:04] #227 closed

[2018-10-11 10:03] ShrRung opened #228 "can use it in php7.2?"

[2018-10-17 08:28] prodigeris commented on #30
This is causing me a great pain. I'd love to see a feature that lets me to decode it as an array.
`stdclass` is a `std`

[2018-10-20 05:54] lattlay commented on #228
Yes, I have successfully implemented an API with this package using PHP 7.2 and had no issues.

[2018-10-22 10:04] ShrRung commented on #228
thanks. v4.0?

[2018-10-23 13:06] Awais-cb opened #230 "how to forcefully expire a toke"
i am using this library to generate to encode JWT's i am using vue as front end frame i need to forcefully expire the token on logout api is there any way i can achieve that?

[2018-10-23 15:54] lattlay commented on #228
I was using v5.0

[2018-10-24 00:06] cottton commented on #230
No. JsonWebToken is stateless.
You create one, send it out to the client and the token is valid until exp (expiration time) is greater than NOW.

You can set the exp to a minimum. F.e. 5, 2 or even 1 min.

You can use refresh token.
Client gets access token (JWT) and a refresh token on login.
If access token (JWT) has been expired then the client can ask for new pair of token.
On refresh request t

[2018-10-24 13:06] Awais-cb opened #231 "Can we create multiple JWT's against one user?"
I have some questions

1. Can we create multiple tokens against one user if yes how? if no why?
2. lets consider a scenario where users wants to be logged in from mobile and web application too at the same what would happen?
3. what if user wants to logout how we are supposed to refresh/destroy/replace old token?

any help regarding would be really appreciated also it would be nice if i can a docu

[2018-10-26 12:53] cottton commented on #231
1. You can create more than one JWT for one user. _Even for the same device (which would not make sense but ...)._

2. Each device gets its own JWT.
Example:
- User logged in via mobile (server creates and returns JWT)
- User logged in via web app (server creates and returns JWT)
- User requests via mobile using its JWT. Server validates JWT and sends response.
- User requests via web app using it

[2018-11-05 10:34] cottton commented on #214
`Class 'Firebase\JWT\SignatureInvalidException' not found`
Autoload?
Or for test manually use `require_once`.

[2018-11-05 12:17] aamakerlsa commented on #214
@cottton - solved it...  I needed to add require for each of the exception classes:

require_once 'php-jwt-master-src/BeforeValidException.php';
require_once 'php-jwt-master-src/ExpiredException.php';
require_once 'php-jwt-master-src/SignatureInvalidException.php';
... in addition to the JWT.php require I already had

and in my try catch I had to use:

`try {
		    $usertoken_to_verify = $_GET["us

[2018-11-06 15:39] DeepDiver1975 opened #232 "Is this repo unmaintained?"
Hi,

it appears that this repo i unmaintained - pull requests are not reviewed and issues seem not to looked at ...

@bshaffer can you please comment on that?

Maybe it's time to fork .....

Thanks a lot!

[2018-11-06 16:11] lindelius commented on #232
Yupp, it's pretty much abandoned. I ended up creating [my own library](https://github.com/lindelius/php-jwt) for this reason, which you're more than welcome to have a look at and even contribute to if you feel that something's missing.

[2018-11-22 00:28] riux opened #233 "access-token and refresh-token"
Hello I have my api rest in php and my client in vuejs, how should I implement and store the refresh-token and the access-toekn?

[2018-11-23 11:40] cfv1000 commented on #233
hello - depends on how you want to use the application.

You could use localStorage / sessionStorage to keep the tokens.
You could populate the storage data using interceptors or events.

You could even implement a retry policy if you want.
Firebase doesn't really care how you handle the tokens. This library is used only to create the token.

Anything else is your decisions - make judgement calls.

[2018-12-06 06:15] rldaulton commented on #127
@dyangua did you find a solution to the error?

[2018-12-06 11:39] judgej commented on #230
Just FYI, the `jti` claim allows each token to be given a unique ID that can then be used to invalidate them before expiry time on the application. The application needs to keep a list of `jti` IDs that it has chosen to invalidate and and check against that list before accepting a JWT.

This package does not have this feature (which is a feature of JWTs in general), but other packages have.

[2018-12-07 00:33] dyangua commented on #127
@rldaulton yes, i have this error because i try to create my custom token in node but in node you have method for that, in php works fine.

[2018-12-07 00:36] dyangua commented on #127
`<?php
// Requires: composer require firebase/php-jwt
use \Firebase\JWT\JWT;

// Get your service account\'s email address and private key from the JSON key file
$service_account_email = "";
$private_key = "";

function create_custom_token($cedula, $is_premium_account) {
  global $service_account_email, $private_key;

  $now_seconds = time();
  $payload = array(
	"iss" => $service_account_email,

[2018-12-13 10:20] Jaquarh opened #234 "Tokens are not being signed"
I am using HS256 to sign the JWT with a secure secret. My current implementation of encoding my data looks like this:

[code]

If I pass array('uid' => 1) into my encode method and then var_dump() the session I get this key:

[code]

Which JWT::decode() recognises and it all works well. However, if I take this over to [JWT decoder](https://jwt.io/) and put this key into it, it decodes it straight

[2018-12-17 09:20] AmrAlmagic commented on #83
@fjaguado I also need answer for your question ?

[2018-12-17 09:20] AmrAlmagic commented on #83
if the token was revealed，it will be used forever?

[2018-12-17 13:30] cottton commented on #83
Im worried about how users above are using JWT.

JWT is meant to be stateless. They are signed - so they are immutable.
They reason why we should use them is to NOT check the storage on the server side.

    // incomming JWT
    if isValid(JWT)
        data = getData(JWT)
        // further checks (authorization) and execute requested action
    else
        return non success 401 Unauthorized

If

[2018-12-20 12:31] AmrAlmagic commented on #83
@williamqian No
this line

 refer to expiration date with `$offset` added to current time in seconds.

[2018-12-26 12:09] #83 closed

[2019-01-09 00:36] sadiqumar18 commented on #106
i think the error is clear. You need to put your jwt decode function in a try catch. which will enable you catch the ExpiredException

[2019-01-09 17:19] albertidimentico opened #235 "Problem with tokec generated"
Hi, I have a problem to generate the token with JWT:

[code]

This does not work when authentifying rest.

But if I copy the above in https://jwt.io/ and verify with the secret key. If the authentication works with the api rest.

[code]
[code]

[2019-01-09 17:20] albertidimentico commented on #235
https://ibb.co/Ytg3vjv

[2019-01-10 17:44] albertidimentico commented on #235
Problem turned out, I had the private key in b64, a base64_decode ($ key) solved the problem.

[2019-01-30 00:31] #234 closed

[2019-02-22 05:40] himanshutecstub opened #236 "Generate secure token which not decrypt without key"
Hello,
I want create JWT token with public key & private key it's working OK.
But i can decrypt that key without passing key.
So what can i do for security (any data in token not decrypted without key)
Try with `HS256` & `RS256` both algorithm method but every token decrypt easily.

[2019-02-22 16:38] cottton commented on #236
You **COULD** **encrypt** the data before adding it to the token.
**BUT** you SHOULD NOT. _Please do not!_

Data inside a JSON WEB TOKEN is NOT meant to be secure!
You MUST expect that any data you set in the JWT payload COULD be read by anybody who gets the token_.

The JWT is meant to be signed - you can be sure the payload is "real" and not changed by an attacker
 _if the signature is valid of

[2019-02-22 16:46] tuupola commented on #236
There is a standard for encrypted JWT / JOSE called [JWE](https://tools.ietf.org/html/rfc7516). I think this library does not support it. If you are just looking for encrypted tokens you could check [Paseto](https://paseto.io/), [Branca](https://branca.io/) or [Fernet](https://github.com/fernet/spec) as an alternative.

[2019-02-24 19:34] cottton commented on #236
But still: please do not use encrypted sensitive data in a JSON WEB TOKEN, even if with encrypted payload.

You do put f.e. a user_id into the token.
An app receiving the token then can validate that this user_id has not been modified (signature valid).
The app now can read|request sensitive data if needed.
But could put a user_email encrypted into the JWT.
But you do not put something sensitive l

[2019-03-09 17:24] beamerblvd commented on #183
I literally got this to work with one line of code change: Adding `'ES256' => array('openssl', 'SHA256'),` to `$supported_algs` in `JWT.php`. With that one change, I was able to use this to sign Apple Push Notification requests. Without that change, I can't.

I'll put together a pull request.

[2019-03-09 17:31] beamerblvd commented on #183
Posted #239.

[2019-03-15 15:18] nicoworq commented on #189
Hi ! I know is a little late, but i has having the same problem and i fixed with this :

`            $publicKeyURL = 'https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com';
            $key = json_decode(file_get_contents($publicKeyURL), true);
            $decoded = JWT::decode($token, $key, array('RS256'));`

I just passed the full array as $key to the decode

[2019-03-18 08:08] luoyajiang opened #240 "token解密的时候，遇到个问题不止怎么解决"
![image](https://user-images.githubusercontent.com/33601095/54515718-e4430e80-4997-11e9-81c3-c5b06484ee29.png)
我在进行token解密的时候，我不知道这个问题怎么解决？

[2019-03-18 09:47] luoyajiang commented on #240
Simple and rude way, commented on this line of error

[2019-03-24 15:43] kamaslau commented on #228
PHP7.3 is a OK in v5.0.

[2019-04-15 14:29] raulbht opened #241 "JWT::decode return null"
Good afternoon, I have a web page that is updated every 5 minutes and sends a token in each update to check if the token has not expired.

The problem is that when the current date and time in seconds is greater than the 'exp' of the token the function JWT :: decode returns null instead of returning the exception 'Token expired' having the function JWT :: decode inside a try catch.

Can somebody h

[2019-04-16 01:15] cottton commented on #241
?
There is no try|catch at `JWT::decode()`
https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L134
If you call `JWT::decode()` and use a try block around then its up to you.

[2019-04-22 07:13] yulinzhihou commented on #65
@Klerith  it's works for me too

[2019-04-26 09:58] navasiloy commented on #70
Nowadays that really needed. JWKs became a standart pushing from Auth0 team and other vendors.
@fproject Can you go ahead and create a corresponding PR? If you want I can do myself?

[2019-04-29 02:23] luoyajiang opened #242 "Invalid signature encoding"
![image](https://user-images.githubusercontent.com/33601095/56873937-b4902780-6a68-11e9-8c87-faffe893770d.png)

Why is that? Please help! Thank you

[2019-04-29 02:25] luoyajiang commented on #242
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJMb2dpbk5hbWUiOiJYSUFPWVUuTEkiLCJQYXNzd29yZCI6IjEiLCJjdXJyZW50VGltZSI6MTU1NjUwMDM4MSwiZXhwaXJlcyI6MjU5MjAwLCJjb250cm9sbGVyIjoiY3JlZGl0X2FwcGx5X25vcm1hbFwvaW5kZXgiLCJhaWQiOiIzMDEzNDQzIiwiaWQiOiIxMjMyMDg5IiwiZmlkIjoiMTMiLCJmbG93TmFtZSI6Ilx1NWUzOFx1ODljNFx1NGZlMVx1NzUyOFx1OTg5ZFx1NWVhNlx1NzUzM1x1OGJmNyIsImFjdGl2ZU1lc3NhZ2UiOiJcdThiZjdcdTViNTBcdTUxNmNcdTUzZjhcdTR

[2019-05-09 06:41] xinhaonaner commented on #240
try catch 中捕获这个 \SignatureInvalidException错误

[2019-05-13 15:22] lindelius commented on #240
@luoyajiang Please include the raw (base64 encoded) token that you are trying to decode, and I will have a look at it. I expect that there’s an encoding issue.

[2019-05-13 15:26] lindelius commented on #242
I suspect that there’s an encoding issue at play here... and unfortunately it’s present in my own library, as well. I will have a look at it.

[2019-05-21 21:57] benzittlau commented on #68
I believe that one of the great *advantages* of JWT is the ability for clients to inspect the contents of the payload without needing the private key.  This allows for certain "dumb clients" that don't know the private key (maybe they're in an insecure environment, or it's behind a reverse proxy layer that has already authenticated the token) to be able to inspect the contents.  It's definitely tr

[2019-05-21 22:39] lindelius commented on #68
Due to the lack of this feature, along with the fact that this library isn’t being maintained, I decided to write my own a while back. So, if you’re looking for this feature, feel free to have a look at [my library](https://github.com/lindelius/php-jwt).

[2019-06-20 09:31] 18y opened #243 "Why can't you find this package when you search for `php jwt'?"
！！Please add keyword to composer. json, which is not conducive to search now.

[2019-06-25 18:04] MrJellyB commented on #127
same error here,
when i tried to call signInWithCustomToken right after signInWithEmailAndPassword
it worked fine, but when I was calling from other HTTP request it failed

[2019-06-25 18:04] MrJellyB commented on #127
can you elaborate?

[2019-06-29 18:24] NielsDom commented on #231
@cottton very good answer thanks
@Awais-cb you should close this issue

[2019-06-29 18:28] Awais-cb commented on #231
yeah thanks cotton your answer is great

[2019-06-29 18:28] #231 closed

[2019-07-01 17:34] zilahir commented on #242
hey guys! any update on this? i am having the same issue, can't sign my token. Any idea how to fix this?

[2019-07-01 21:34] lindelius commented on #242
@zilahir Can you please include some token data to debug with and I'll check it out

[2019-07-08 06:55] #127 closed

[2019-07-09 13:23] GIOTLAB opened #244 "Signature verification failed"
Hi, I am using this library to encode and decode JWT in PHP 7 but I can't actually decode a JWT which I encoded. It throws a 'Signature verification failed' exception but I can decode it using jwt.io and swift without any issue.
When I'm using the PHP to encode a JWT I'm getting a different signature than the one I get from jwt.io

please help me fix this problem.
Here's my code:
[code]

[2019-07-09 13:59] #244 closed

[2019-07-10 13:17] vahidvdn opened #245 "SignatureInvalidException when request has formData"
When I want to upload a file with javascript, I get `SignatureInvalidException`. With simple request, this doesn't happen. I use formData in my upload request which adds some `Content-Type` to the request automatically.

[2019-07-10 13:44] vahidvdn commented on #245
Actually, this happens in a very specific case. I use Codeigniter. This works in a controller function but gives me the error in `MY_Controller`.

I'm not sure this error relates to this plugin or the Codeigniter framework.

[2019-07-14 02:41] imanborumand opened #246 "set and get guard"
hi
how i can get guard of user entered?

[2019-07-26 09:19] inhere opened #247 "Is this project no longer maintained?"
Is this project no longer maintained? :(

[2019-07-26 12:13] bajinho commented on #247
Good Question.

[2019-08-02 06:01] ashishtilara commented on #70
any plans to get JWK support anytime soon :)

[2019-08-14 13:04] rcosgrave commented on #98
On a similar note; if your RSA Private Key has ANY indentation then it will be invalid so be sure there's no indentation. Weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee

(Fake Private Key BTW)

[code]

is invalid and NOT the same as:

[code]

[2019-08-27 16:00] ShivPandey commented on #119
what information are stored in refresh_token and how to get access_token through refresh_token.

[2019-08-27 20:15] cottton commented on #119
@dpbuzz its years later, i know. But you did not understand how jwt works, i guess.

@ShivPandey the refresh token contains nothing.
A refresh token is a random unique string which is valid only once.

@ both

**Login:**
- client sends login request
- server validates request -> login valid -> logged in
- server creates new refresh_token (life time f.e. 6 hours)
- server stores the refresh token l

[2019-08-28 21:23] dpbuzz commented on #119
Thank you both for the explanation, finally I implement the refresh token as describe on last post... I understood how it work after further reading.

[2019-09-06 07:19] infuginindia opened #251 "Is this work with ES256 algorithm ?"
Is this library work with ES256 algorithm ? , if yes may you please provide a sample of code

[2019-09-06 12:04] SeanDez opened #252 "Uncaught UnexpectedValueException: Wrong number of segments"
This is the full stack trace I'm seeing on the webpage:
[code]

The first method decodes, the 2nd method encodes. Prior to adding the JWT functionality both methods were correctly getting and setting cookies without error:

[code]

The error is raised when I load any page that results in a server call to the above methods.

I'm running this locally on Php 7.2.15, Lubuntu 18.04 with Apache2. Thanks

[2019-09-06 12:07] lindelius commented on #252
If you dump the value of the cookie (the encoded JWT), what do you get?

[2019-09-06 12:42] SeanDez commented on #252
I would have clean out my current session so I hope you don't mind I did this test instead:

    $testDecode = JWT::encode(['testValue'], 'testKey');
    // value in debugger
    // eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.WyJ0ZXN0VmFsdWUiXQ.ADUxEd50vxYA8WJ56xxDUYlX6bQAejlvTciKpOYB-Ns

[2019-09-06 12:58] SeanDez commented on #252
Solved, issue was an old unencoded cookie value was undesirably sent to decoded()

[2019-09-06 12:58] #252 closed

[2019-09-11 06:45] jerome2710 commented on #251
See #183 and #239.

[2019-09-16 18:00] usb248 commented on #119
@cottton  when you say "server stores the refresh token local ", how/where you store this jwt ?
What do you mean by "(combi: refresh_token => user_id)" ?

[2019-09-17 16:55] cottton commented on #119
Wait!
**JWT (JsonWebToken) !== Refesh token.**
The Refesh token is a unique (uuid) string.
The JWT (access token) contains payload and a signature.

Server does NOT store the JWT (access token).
_Thats the job of the client. He has to keep it and show it to other services to gain access._

Server DOES store the refresh token.
_Server needs to know who is related to the refresh token (user_id f.e.)

[2019-09-17 19:09] usb248 commented on #119
Thank you for your long explanations :blush:
But i have others questions.
What king of cache you use (in your script) /advice to use ? (write in database, in a file on server file system ... ?)

I need to manage jwt with mobile app through rest api.
In the situation : (in your [msg](https://github.com/firebase/php-jwt/issues/119#issuecomment-525464922)) (2day later) server checks if refresh token

[2019-09-17 20:50] cottton commented on #119
**Storage:**

I cannot recommend a cache. I like redis, but that does not mean that you will like it :D

You _could_ use a database. But then you would have to search for old rows and delete them

and then you get id-gaps (if you use AUTO INCREMENT) ... and you have to check if is **still** valid your self by a datetime in your row and ...

I just took a redis cache, told redis to store the refres

[2019-09-17 21:45] usb248 commented on #119
@cottton
Okey, but i have already a database connection. It's not too "heavy" if i implement an other stockage strategy like redis 🤔 ?

I don't want to force user to re-login. This will frustrate the user compared to other apps. Personnaly, i have any app which force me to re-login (if i reach ttl ? or that mean there is no tll, i guess).

JWT never expire, ok bad idea but about refresh token ? ne

[2019-09-18 00:28] cottton commented on #119
**Database**: yea, sure. As long as you remember to check if the refresh token in the db is not already expired.
_Something like `SELECT ... WHERE refresh_token = :refresh_token AND expires_at >= :now ...`_

**Refresh token never expires**:
possible : yes.
Should do : depends.

**Example 1: shop app (money involved).**

Refresh token ttl is 1 day.
User logs in and receives token pair.
User clicks

[2019-09-18 09:15] usb248 commented on #119
Thanks for your explanations @cottton ! I don't understand a few lines of your code .. :
[code]

[2019-09-18 13:01] cottton commented on #119
**Why** Bearer:

I actually dont know _exactly_ why we should use `Authorization: Bearer <token>` header.
I searched and read about how to send them _(access- and refresh token)_ and i think most services expect it like that.

See _"How do JSON Web Tokens work?"_ at https://jwt.io/introduction/

`Authorization: Bearer <token>`

I also searched for auth server response examples.
I found the `..._to

[2019-09-30 15:42] yanzhili commented on #251
i'm going through the sign with apple function，i want use this library to create the client_secret which the get access_token request needed ,but the request always return {"error":"invalid_client"}.
here is my code:
`private function getClientSecret($client_id, $team_id, $key_id)
    {
        require_once APPPATH . 'path/firebase_jwt/autoload.php';
        $key = <<<EOD
-----BEGIN PRIVATE KEY---

[2019-10-10 05:52] vatoer opened #254 "always return Syntax error, malformed JSON"
Always return syntax error when decode

[2019-10-10 09:11] #254 closed

[2019-10-10 19:09] viion commented on #70
Any updates? AWS Cognito uses jwks.

[2019-10-17 22:33] patrickbussmann commented on #251
I focus the same issue like @yanzhili.
The Ruby code is working fine and the php code not. -> invalid_client

Very interesting.

[2019-10-17 23:27] patrickbussmann commented on #251
I found a library which supports this Sign in with Apple, see example: https://gist.github.com/patrickbussmann/877008231ef082cc5dc4ee5ca661a641
🥳

[2019-11-05 04:39] #183 closed

[2019-11-06 10:54] smalldragoon opened #258 "Can't decrypt a generated token"
Hi,
I guess I'm missing somehting very basic here. I tried URL64 decode/encode ..Etc.. with my token but I'm still unable to get it properly. When I use JWT.io, token is decrypted without any problem.
Where am I missing something in the code below ? reading doc , I don't need to do anything else than this ? ( error is

Thx in advance

[code]

[2019-11-07 23:33] MvonNeumann opened #259 "Encode incorrect with sequential arrays"
Encoding non-associative arrays will produce results that are not in proper JSON format. The result could not be decoded for example with PyJWT's ```jwt.decode``` function in Python 3.
The first line of ```jsonEncode``` function:
[code]
will produce ```["item1","item2","item3"]``` from sequential arrays like ```array("item1", "item2", "item3")```, instead of the proper ```{"0":"item1","1":"item2",

[2019-11-23 15:02] RayHughes commented on #258
Im having issues with this as well. Sometimes it works, some times it doesn't. Im switching to a different library tho.

[2019-11-25 02:01] changyy commented on #251
I have generated ES256 token successfully via https://github.com/lcobucci/jwt project at PHP 7 environment.

But my project is under PHP5.5 situation. I just find out the difference between "lcobucci/jwt" and "firebase/jwt" on making ES256 token flow and reuse "\Lcobucci\JWT\Signer\Ecdsa\MultibyteStringConverter" to fix "firebase/jwt" flow:

[code]
more info:
- callback.php: https://github.com/cha

[2019-11-29 11:03] harshan89 commented on #65
[code]

[2019-11-29 16:59] Krisell commented on #258
Your token is fine and consists of the three parts HEADER.PAYLOAD.SIGNATURE. Base64-decoding works fine on the header and payload, but the signature doesn't match for the key you provided, so I'm guessing the real key is not "secret"?

Note that the content is not encrypted, that is not the purpose of JWT signatures, hence JWT.io, and anyone else, can read the data just fine without the signature

[2019-11-29 17:01] Krisell commented on #258
Can you provide some examples? The algoritm is completely deterministic and it sounds very weird that it would work sometimes and sometimes not.

[2019-11-29 17:02] Krisell commented on #245
Look at the JWT raw data and compare them for the two different cases. You probably have some problem with encoding that i not resolved before you try to decode the JWT.

[2019-11-30 10:37] Krisell commented on #259
`["item1","item2","item3"]` is definitely proper JSON, see https://www.json.org/

[2019-12-06 22:28] danielwoestman commented on #258
Did you guys figure this out? I'm having the same issue. I'm trying to authenticate a google user via google assistant and need to get the email of the user. I know "secret" is not the right $key and I don't seem to be able to get the info without a valid $key value like I can in jwt.io

[2019-12-07 08:20] Krisell commented on #258
@danielwoestman The key has nothing to do with seeing the data, but only to verify the signature. The data is not encrypted and can be read (and altered) by anyone. See the specification: https://jwt.io/introduction/ and the short version is that you need to split on the two periods (.), and then Base64Url decode the middle item. But this is of course completely insecure and you should not trust t

[2019-12-07 13:26] danielwoestman commented on #258
@Krisell Thanks, that was actually super helpful.

Using this library, if I'm trying to verify using use Google's public keys (available in [JWK](https://www.googleapis.com/oauth2/v3/certs) or [PEM](https://www.googleapis.com/oauth2/v1/certs) format) to verify the token's signature, I'm confused at what to put in for the $key variable. I'm not sure how to get [Google's explanation](https://develop

[2019-12-10 12:12] vedmant commented on #214
What if I need to decode token first and then only verify it agains a key, how can I do this? I'll need to get "kid" value from the token before checking it signature, but JWT::decode() already requires key to use.

[2019-12-10 15:46] bshaffer commented on #214
To decode a string **without** verifying it against the public key, you can do this:

[code]

This is not supported directly in the library because of the possibility someone could use this unintentionally without verifying the signature.

[2019-12-10 15:47] #214 closed

[2019-12-10 18:14] cottton commented on #214
Had the same problem.
The `kid` *1
- is in the first segment of the JWT
- is json encoded
- is part of the signature (included to created the signature)
.
You actually should check if the signature is valid before using data from the JWT.
BUT you cannot, if the system is using the `kid` from the header.
**Is SHOULD be save to extract the `kid` from the header**
and then check if the signature is v

[2019-12-10 18:16] cottton commented on #214
Do **NOT** use the body (content) without verifying the JWT!

[2019-12-11 08:13] vedmant commented on #214
Thanks, I ended up duplicating code from JWT::decode partially to just decode header. I think it should have some separate method to just decode JWT. For example npm package "jsonwebtoken" has separate method to decode and verify and that's perfectly ok.

[2019-12-11 14:11] psignoret commented on #214
@vedmant Instead of decoding the header yourself, you can pass in a map of `kid` => `public_key` values to `JWT::decode()`. The library will take care of selecting the key with the `kid` value matching the one identified in the header.

[code]

[2019-12-11 14:21] vedmant commented on #214
@psignoret Thanks, I actually ended up doing exactly this. I also had to decode jwks into keys, here is the code if someone needs it:

[code]

[2019-12-13 01:45] bshaffer commented on #214
@cottton You do not need to decode the header to use the `kid`, the library supports decoding using the `kid` when an array of public keys are passed in as the second argument to `decode`.

[code]

[2019-12-17 22:15] bshaffer commented on #251
see also https://github.com/firebase/php-jwt/pull/256, where I've added very basic support.

[2019-12-27 05:39] brenc commented on #247
Doesn't look like it is. I switched to https://github.com/adhocore/php-jwt quite a while ago myself and haven't had any issues with it.

[2020-01-09 22:25] aaronpk commented on #70
Would be awesome to get JWK support here! I'd rather use this library than the bigger spomky labs one.

[2020-01-20 15:50] jalalomary opened #265 "Error parsing AWS ALB Public Key"
I am trying to using AWS OIDC. The returned token uses ES256 for signing the JWT. openssl_verify is throwing the error:

[code]

Sample public key returned from AWS:

[code]
Any clue of the root cause of this error?

[2020-01-20 18:20] jalalomary commented on #265
Was able to resolve it using this commit: https://github.com/firebase/php-jwt/pull/256/commits

[2020-01-29 06:57] marioskamperis commented on #70
Do we have any news about possible jwk support?

[2020-02-05 05:48] arshohag opened #267 "How to create CSRF protection?"

[2020-02-05 22:26] cpgb85 opened #268 "Open ssl issue"
When trying to encode data, this is the error i get.

Warning: openssl_sign(): supplied key param cannot be coerced into a private key in

[2020-02-10 12:20] lucidlemon opened #269 "Tag Update"
Could we get the latest commits to be v5? They are already merged but composer still pulls the old version from 2017 if we try to install it.

[2020-02-11 04:44] MikeBeas commented on #70
I’d also like to know if there’s any update on this… I am about to start work on a project requiring this and I have no way to handle the JWK right now. I would prefer not to have to change to a fork and require my team to install the other version to get it working.

[2020-02-19 18:43] bshaffer commented on #30
You can cast a stdclass as an array easily in PHP:

[code]

[2020-02-19 18:43] #30 closed

[2020-02-20 13:33] NiMeDia commented on #30
@bshaffer before just closing this one could you please at least read the conversation -> braindead casting will not work for nestet objects. It will cause bugs in the wild and it would be good if the project itself would handle the casting properly and well tested. It would be nice if you instead just accept the pull request (including tests) which was done with care by another user of this proje

[2020-02-20 18:45] bshaffer commented on #30
@NiMeDia you can cast any nested `stdClass` as an array in the same way.

In the next major release of this library we will use `array` instead of `stdClass`.

[2020-02-20 19:44] NiMeDia commented on #30
@bshaffer indeed you can manually go trough a nested structure and cast everything to anything, but is this really the thing you want to do after every decode call, if you could simply rely on a nested array structure.

+1 for using arrays in the future.

[2020-02-26 16:27] morojosa commented on #244
sometimes google certificates are exchanged and this causes this error

[2020-02-27 11:12] putzflorian opened #272 "add build vor 5.1.0"
there is no existing build for 5.1.0
https://packagist.org/packages/firebase/php-jwt

please add a build.

thx

[2020-02-27 11:14] Krisell commented on #272
There's an "update"-button at Packagist. I pressed it and it seems to have fetched 5.1.0 as a release now.

[2020-02-27 11:18] putzflorian commented on #272
thx

[2020-02-27 11:19] #272 closed

[2020-02-27 12:18] musa11971 commented on #70
Apple also exposes [JWKs](https://appleid.apple.com/auth/keys) to verify their JWTs, so would really like to see this!

[2020-02-27 14:17] marioskamperis commented on #70
+1 for the apple comment.
Now trying to implement Apple Sign-In and would really useful not to load any other libraries

[2020-02-28 18:21] bshaffer commented on #269
I have already emailed packagist.org, unfortunately the original maintainers have left and forgot to give me access to tagging the packagist repo. Sorry for the inconvenience!

[2020-02-29 00:49] bshaffer commented on #268
This means the private key you are supplying is either malformed or in the wrong format. What format is the key you're supplying and what is the encryption method being used?

[2020-02-29 00:50] bshaffer commented on #267
This is a JWT library, so I am not sure how to answer this. If you're looking for CSRF protection with an OAuth2 request, use the `state` parameter. If you want to use JWT as a CSRF token, that's possible, but probably a little overkill, as CSRF tokens are tied to session keys and don't need a JSON header/payload.

[2020-02-29 00:50] #267 closed

[2020-02-29 00:51] bshaffer commented on #265
Yes, sorry we are trying to tag a new version but are currently encountering issues with Packagist permissions. Hopefully we'll have a new release soon!

[2020-02-29 00:51] #265 closed

[2020-02-29 00:53] bshaffer commented on #259
I went through the [JWT spec](https://tools.ietf.org/html/rfc7519) and found nothing regarding sequential arrays. Where do you see that these should be encoded as objects?

[2020-02-29 00:58] bshaffer commented on #247
This library is still being maintained! Sorry for the lack of response. We plan on releasing a new version very soon (with some cool features like https://github.com/firebase/php-jwt/pull/256)

[2020-02-29 00:58] #247 closed

[2020-02-29 00:58] #240 closed

[2020-02-29 00:59] #242 closed

[2020-02-29 00:59] #246 closed

[2020-02-29 01:00] bshaffer commented on #243
Added, thank you!

[2020-02-29 01:00] #243 closed

[2020-02-29 01:08] bshaffer commented on #241
I agree with @cotton that this is not possible. You can provide a leeway if you think this is a race condition:

[code]

If you're getting null as a return value from `JWT::decode` then I'm guessing someone modified the code of the package in your installation.

[2020-02-29 01:08] #241 closed

[2020-02-29 01:10] bshaffer commented on #203
When you encode the payload, it can contain whatever claims you'd like:

[code]

[2020-02-29 01:10] #203 closed

[2020-02-29 01:10] #206 closed

[2020-02-29 01:12] #200 closed

[2020-02-29 01:15] bshaffer commented on #232
This library is still maintained! We just added some pretty cool features (see) #256 and will release a new version soon.

[2020-02-29 01:15] #232 closed

[2020-02-29 01:15] #150 closed

[2020-02-29 01:16] #122 closed

[2020-02-29 01:17] bshaffer commented on #251
This support has been added! A tagged release should happen soon but in the meantime you can pull the change down from `master` or the `5.1.0` tag.

[2020-02-29 01:17] #251 closed

[2020-02-29 01:19] #215 closed

[2020-02-29 01:20] bshaffer commented on #269
In the meantime you can get the current codebase by running `composer require firebase/php-jwt:dev-master`

[2020-02-29 01:22] bshaffer commented on #258
This library supports PEM format only, currently. There are ways to convert JWK to PEM if necessary, but with thee public keys you have supplied, using the PEM version will work as expected.

[2020-02-29 01:22] #258 closed

[2020-02-29 01:22] #228 closed

[2020-03-01 11:44] NiMeDia commented on #259
The JWT spec talks only about "JSON Objects" so maybe the token must always be an object to match the spec? (I don't really know wheter PyJWT is right in this case). I think that PyJWT only supports decoding from an object structure, because in python there is a difference between arrays and dicts and array support is not needed primarily if you encode and decode with the same library.

Can anyone

[2020-03-01 15:03] lindelius commented on #259
The RFC defines claim values as

It’s pretty clear that arrays are allowed.

[2020-03-01 18:58] NiMeDia commented on #259
OK, in this case it's an issue of PyJWT rather than PHP-JWT. @MvonNeumann could you redirect your issue to PyJWT? (Would be nice if you link it here for anyone who has the same problem)

[2020-03-02 20:48] bshaffer commented on #259
I filed an issue against the PyJWT repo here: https://github.com/jpadilla/pyjwt/issues/476

Please provide steps to reproduce, @MvonNeumann

All further discussion can be continued there, as there is no issue (AFAIK) with this library.

Thanks!

[2020-03-02 20:48] #259 closed

[2020-03-03 16:29] MvonNeumann commented on #259
Yes after further investigation I also have to agree that the problem is in the PyJWT and not the PHP-JWT. Sorry for the issue, and thank you for your time!

[2020-03-03 21:06] Ghostff opened #274 "Not an issue"
This is not really an issue, but am just curious as to how `$ignore_bit_strings` made it [here](https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L502)

[2020-03-05 01:30] bshaffer commented on #274
Good catch!

[2020-03-05 01:30] bshaffer commented on #269
This has been tagged! Please update to `firebase/php-jwt:^5.1`

[2020-03-05 01:30] #269 closed

[2020-03-05 20:29] #274 closed

[2020-03-15 14:45] phil-davis opened #279 "JWT::encode PHP doc declaration incompatibility"
`JWT::encode` has `$payload` documented as:
[code]
But unit tests have calls like:
[code]
which is passing a string as the payload. (I guess a string is "an array of bytes")

My IDE shouts about this. Should the PHP doc include `string` ?

[2020-03-16 09:31] maltboy commented on #97
Is there a better way now? Such as encryption

[2020-03-16 09:32] maltboy opened #281 "Base64 Decrypt"
Why can the generated token be decrypted by Base64? What should I do?

[2020-03-16 09:39] Krisell commented on #281
JWT is not an encryption protocol. It's meant for signing information which provides integrity, but not confidentiality. See the specification here: https://tools.ietf.org/html/rfc7519

[2020-03-16 10:02] #281 closed

[2020-03-16 10:02] maltboy commented on #281
Thanks for your answer

[2020-03-21 19:34] #70 closed

[2020-03-21 19:58] bshaffer commented on #279
There is no way to to pass a string and receive a valid JSON payload. In practice, the payload must be an array or object, otherwise the resulting JSON will not be an object.

Those tests do not use legitimate data, because they are for testing. Sorry for the confusion.

[2020-03-21 19:58] #279 closed

[2020-03-21 20:05] bshaffer commented on #70
Please test the code in `master` via composer and I can tag a new version once this feature has baked a bit:

[code]

[2020-03-22 12:11] wrabit commented on #233
Pretty much what that guy said ^

If your api and client are operating on the same domain, the most secure way is to store your token inside an HttpOnly cookie and use CSRF.

[2020-03-25 18:49] bshaffer commented on #268
Closing due to inactivity

[2020-03-25 18:49] #268 closed

[2020-03-25 18:59] bshaffer opened #286 "Add EC Support in JWK.php"
See 0c693a40a80a88d7eb06960205b24c820e8a04e0

[2020-03-25 19:02] MikeBeas commented on #286
Would love to see this added, too. If I knew how I’d do it myself but crypto is a bit behind me at this point!

[2020-03-26 12:01] leossmith opened #287 "Failed to login using JWT from Firebase"
I am working on a PHP Slim 4 API, which should use the token coming from Firebase authentication to access the api. However I keep getting this error in my logs no matter what:

`OpenSSL error: error:0906D06C:PEM routines:PEM_read_bio:no start line [" TOKEN_FROM_FIREBASE "]`

and this is the response to my GET:

[code]
Any ideas?

Thanks

[2020-03-27 11:08] leossmith commented on #287
In further digging, I found out that if I replace the line 243: $success = openssl_verify($msg, $signature, $key, $algorithm); with $success = 1; everything works as expected. Looks like the library can't process the public keys from Google?

[2020-03-27 13:10] leossmith commented on #287
Ok after a lot of try and error, it looks like the library takes care of splitting the keys in Kids Array and pKeysArray so I dont have to. After feeding it with the keys directly it worked.

[2020-03-27 13:10] #287 closed

[2020-03-28 11:30] AhmedKhan64 opened #288 "Error Message: Key may not be Empty"
Hi, I am trying to run a project with docker but no matter what I do it is giving this error message.
{
    "message": "Key may not be empty",
    "url": "/api/threads/unread.json?companyId=171",
    "code": 500,
    "file": "/var/www/cake3-app/vendor/firebase/php-jwt/src/JWT.php",
    "line": 79
}
What can I do to solve the error?

[2020-03-28 18:36] #288 closed

[2020-03-29 18:09] vgavrilovikj opened #289 "OpenSSL Error openssl_verify()"
When I am trying to validate the token I get, the error below:
"OpenSSL error: error:0909006C:PEM routines:get_name:no start line"

This is how I am decoding the JSON:
`$decoded = JWT::decode($jwt, $privateKey, array('RS256'));`

And this is the code where it throws an error:
[code]

[2020-04-01 02:18] alexroitman opened #290 "When expire"
Hi,first of all, sorry about my english.
Anyone have an implementation of this code on an API?
I am coding an REST API in php with CodeIgniter 4 and i don't know if this token expire in a while (with some config)or if is always the same token for the same input.

[2020-04-06 16:52] bendoh opened #291 "Payload is inaccessible in Expired / BeforeValid scenarios"
Though the JWT is cryptographically valid in scenarios where it is being accessed chronologically out of bounds, callers have no easy way of seeing the payload that _would_ be considered valid otherwise.

It would be useful to attach the "would-be" payload to thrown exceptions `BeforeValidException` and `ExpiredException`, so then callers would still be able to check the claims therein and act on

[2020-04-06 17:24] Krisell commented on #291
What would the use case be for that?

The specification (https://tools.ietf.org/html/rfc7519#section-4.1.4) states that `The "exp" (expiration time) claim identifies the expiration time on
   or after which the JWT MUST NOT be accepted for processing.` One could argue that decoding the data is "processing", thus not complying with the standard.

[2020-04-06 18:51] lindelius commented on #291
Monitoring.

[2020-04-07 13:05] bendoh commented on #291
So my use case is, "this user gave me a token, I know it's a valid token, but it's either expired or before its time: what are its claims anyway?"

I'd say "MUST NOT be accepted for processing" is compatible with this idea: the token is not _accepted_ (the exception is still thrown,) but I do know that it was/will be valid: what claims did it make?

One pretty obvious use case: The user's token ex

[2020-04-20 19:23] Marshal313 commented on #291
I have patched and created a [Pull request](https://github.com/firebase/php-jwt/pull/292) for this

[2020-04-26 11:36] khuongphp commented on #95
There are 3 token type. But firebase only verify token from client app.
[https://github.com/kreait/firebase-php/issues/169#issuecomment-366950404](https://github.com/kreait/firebase-php/issues/169#issuecomment-366950404)

[2020-05-04 08:00] OssiPesonen commented on #291
I have a similar use-case for this need.

We receive the token as a means of identifying a user when he closes a chat on one of our applications. The token gets stored by the chat when he opens the chat and by the time he closes it, it might have expired. We can't read the users verified information due to the expiration, which should be ignored at that point as we do not return any data from our

[2020-05-06 22:22] sharmam-lh commented on #127
Anyone has fixed "**Invalid assertion format. 3 dot separated segments required.**". I am facing same issues while using firbase "signInWithCustomToken(jti)" **jti** means **JWT ID token**

[2020-05-07 20:26] rafaelpstein opened #293 "Question about Payload"
If possible insert into payload sub array?

Example:
    "user": {
      "avatar": "https:/gravatar.com/avatar/abc123",
      "name": "xxx",
      "email": "xxx@xxx
  },
  "aud": "zzzz",
  "iss": "zzzzz"

[2020-05-12 11:36] OriginersMc opened #294 "Update to php 7.2"
Hi

Can you update this library to php 7.2 or height please?

Best regards

[2020-05-12 11:40] Krisell commented on #294
The package works great on 7.2 or higher.

[2020-05-12 12:52] OriginersMc commented on #294
I have the next files and function mcrypt_get_block_size() no work on php 7.4.2
[jwt.zip](https://github.com/firebase/php-jwt/files/4615658/jwt.zip)

[2020-05-12 12:54] Krisell commented on #294
That function is deprecated since php 7.1. I can't see that it's used anywhere in this library – please show us where.

[2020-05-12 12:55] Krisell commented on #294
After looking at your zip-file, it seems like you are using the deprecated function in your code. You need to update this, and that is not part of this library.

[2020-05-12 12:55] OriginersMc commented on #294
Can you help me update this?, I can pay you for this task.

[2020-05-12 13:59] Krisell commented on #294
Sorry, no. All I can say is that you should not use DES as you did in the zip file, that has been insecure for many years.

[2020-05-18 09:51] Repox commented on #290
Unless specifically set, the generated token does not expire.

You need to add the [registered claim](https://tools.ietf.org/html/rfc7519#section-4.1.4) `exp` to your token, in order for this library to invalidate the usage of the token:

[code]

Now, if you try and reuse the the produced token after an hour, you will get an `ExpiredException`:

[code]

Hope that helps.

[2020-05-18 12:05] #290 closed

[2020-05-18 13:51] devnaelson opened #295 "invisible files"
github does not detect files with this name of folder
php-jwt does not woking
phpjwt do work
I had issue when amazon automatically pull this file not come to directory

[2020-05-19 20:06] bendoh commented on #291
@OssiPesonen  I'd be very wary of adding extra arguments, _especially_ boolean arguments, since they really cause the method to mean two different things, and so it should be written as two different methods instead, e.g., `decode` and `decodeIgnoringExceptions`, but just attaching the payload to the exception avoids this weirdness and IMO is more correct since indeed it is an error condition.

[2020-05-19 21:46] ikhbalfuady opened #296 "Failed Decoding with Error Key may not be empty"
Iam using this plugin in lumen, and testing in xampp

every 3, 4 or 6 not even sure, I make a request, there is always an error "Key may not be empty", this error always appears if I do not do "php serve" or I immediately access the public folder with an example url

http://localhost/core-api/public/

and when I serve, the error does not appear, is "serve" a requirement?

[2020-05-24 18:15] OssiPesonen commented on #291
I would argue that the name `decode()` means that you should be returned with the payload of a decoded token. The function  should not be responsible in reading the payload and throwing exceptions if it is expired, but leave that option for the user to do with it as he pleases, or have some mechanism to enable/disable it on a use-case basis.

In any case as this does not seem to be progressing (1.

[2020-05-24 19:13] fvgtekken commented on #119
Cotton thank you for the  detailed explanation, it helped me a lot.

[2020-05-24 20:28] Marshal313 commented on #291
I'm using [My own fork](https://github.com/Marshal313/php-jwt) in which I fixed this issue.
You can fork that and continue from there

[2020-06-02 17:58] caswell-wc opened #298 "Leeway customization"
I am having an issue where my server's clocks are a little bit off from the server that is creating my jwt token. This is causing my jwt to not validate because the nbf is set and the server thinks that it is before the time that the nbf is set to. I noticed that there is a leeway static property that is supposed to compensate for that but it is set to 0 by default. How am I supposed to adjust tha

[2020-06-02 20:03] Krisell commented on #298
You should be able to set it using `JWT::$leeway = 60;` (or whatever value you want). `static` means it's accessible on the class and not on an instance. It does not mean that it's unchangeable.

[2020-06-02 22:07] caswell-wc commented on #298
Thank you, that did solve my issue. I guess I've never had a need to change a static value before so I didn't think you could.

[2020-06-02 22:07] #298 closed

[2020-06-23 08:26] fernando-ayon commented on #211
I believe that what @Yamakasi tried to point out with the provided link is that both 'iss' & 'aud' claims are application specific, so it is up to you to handle them if or however you deem necessary.

These claims are also called 'public' or 'reserved' claims, because they are defined in the RFC and their values should be consistent with the definitions provided in the standard.a

[2020-06-23 13:05] dennis-berg commented on #287
What exactly does "takes care of splitting the keys in Kids Array and pKeysArray so I dont have to" mean? @leossmith

[2020-06-23 13:06] dennis-berg commented on #287
Do I have to supply the kid in the header and supply the array of keys with that kid as arraykey of key to fix this error?

[2020-07-04 09:03] ali-sharafi commented on #296
This happened for me too. :(

[2020-07-21 00:19] #102 closed

[2020-07-29 01:00] bishhop5 commented on #288
This error message is usually caused when you haven't set your JWT **secret** / key when encoding your JWT token
ie:

`$token = JWT::encode($payload, JWT_SECRET)`

so when your decode, you need to pass the secret, e.g:

`JWT::decode($token, JWT_SECRET, ['HS256']`

[2020-07-30 13:38] 4n70w4 commented on #148
The same issue! Static methods are harder to unit test.

[2020-07-30 22:30] davidkeefe24 commented on #289
I am getting this same error. Did you solve your issue @vgavrilovikj ?

[2020-08-11 02:31] LukeSavefrogs commented on #293
That would be very useful to add additional data to the token

[2020-08-12 17:30] madsongr commented on #127
Same error here. I've checked system time, changed uid from integer to string and decoded in jwt.io. In [jwt.io](https://jwt.io/) is decoded and nothing's wrong.

I was having an Openssl() error using `RS256` so I changed it to `HS256` and that error was fixed. But I still have the error below?

[code]

[code]

[2020-08-12 18:19] madsongr commented on #127
Just solved it! Reading [this issue](https://github.com/firebase/php-jwt/issues/98) I could work with `RS256` just using double quotes instead of single quotes in `$private_key` and I don't get invalid token error anymore.

[2020-08-16 07:17] JasmanDev commented on #289
@vgavrilovikj Same error for me. Did you solve it?

[2020-08-28 00:50] KlimovOleg commented on #289
When can you make a fix?

[2020-08-28 08:56] kewlashu opened #300 "Why leading slashes in use statements of sc/JWT.php"
[PHP documentation ](https://www.php.net/manual/en/language.namespaces.importing.php) mentions that leading back slash is not required in `namespace` `use` statements.

Is there any reason in file `src/JWT.php` line 5 to 8 have leading backslash in `use` statements

[2020-08-28 08:59] Krisell commented on #300
It's probably added by mistake. Please make a PR, removing these and showing that the tests still pass.

[2020-08-28 09:16] kewlashu commented on #300
Ok, I will create a PR

[2020-09-06 12:55] IDevelopes commented on #189
I am also getting the same problem. I have tried your way @nicoworq but i get this error "\"kid\" empty, unable to lookup correct key"

[2020-09-08 17:23] pendenga opened #302 "InvalidArgumentException needs use statement in JWK.php"
If JWK throws an InvalidArgumentException I get an error "Class 'Firebase\JWT\InvalidArgumentException' not found". This can be resolved by adding this to the top of JWK.php:

`use InvalidArgumentException;`

[2020-09-13 17:37] venkytt opened #304 "OpenSSL error"
Hello

Please See https://developers.google.com/identity/protocols/oauth2/service-account#jwt-auth
Keys and some files changed.. but you get the idea

Any help will be appreciated please

Thanks
`
<?php

require_once('/firebasejwt/vendor/autoload.php');

$time = time(); // The current time

use \Firebase\JWT\JWT;

$key = "-----BEGIN PRIVATE KEY-----
MI12312312312312312312312312312312312312312EAAoI

[2020-09-13 17:58] venkytt commented on #304
Argh

I shouldn't decode using private key GRRRRRR

[2020-09-13 17:58] #304 closed

[2020-09-21 22:21] kmuenkel opened #305 "Need ability to set flags on json_encode()"
Firebase\JWT::jsonEncode() automatically converts all values to strings. But some JWT converters expect the 'exp' and 'iat' values to be integers. Need the ability to apply flags to the json_encode() call, so that JSON_NUMERIC_CHECK can be added if needed.

[2020-10-08 08:20] Einenlum commented on #70
For people looking for JWK support in late 2020, this is supported since [v5.2.0](https://github.com/firebase/php-jwt/releases/tag/v5.2.0)

[2020-10-09 07:56] san3jaya opened #306 "Getting "Invalid IAP credentials: Jwt payload is invalid" error with IAP enabled"
I am getting this error on google cloud and I've enabled the IAP. this one is working perfectly on local.

`Invalid IAP credentials: Jwt payload is invalid [Line 0, column 7: No quote found for string field] for payload {"sub":1,"iss":"caters","iat":1602225351,"exp":1602225851,"locale":"en_EN","language":"en_EN"}`

[2020-10-22 11:29] ssi-anik commented on #70
If someone somehow reached here and looking for a quick solution by not going through the tests,
[code]

[2020-10-22 17:06] bshaffer commented on #70
@ssi-anik added to README in https://github.com/firebase/php-jwt/pull/307

[2020-10-31 11:46] iranapporg opened #309 "Why token is insecure?"
Hi
Tokens that I make it, is secure and the hacker can decode it in many site
But I need to secure it
For example, you can decode token here [http://calebb.net/](url)
Can I do it?

[2020-10-31 13:43] Krisell commented on #309
JWT tokens are by default not encrypted, and are not intended to provide confidentiality – the data is stored completely in cleartext. What they do provide is integrity via the signature, i.e. they can't be tampered with and their validity can be verified.

There are versions of JWT that add encryption, if that is what you want, or you can simply encrypt the data before you put it into a JWT. Plea

[2020-10-31 13:57] omid-student commented on #309
Yes you right
Thank you

[2020-11-04 09:54] mehtadr opened #311 "Fixed"
Fixed

[2020-11-04 11:48] dakujem opened #312 "DomainException is missing in the "throws" list"
Hello guys, I noticed a problem with the doc comment of `JWT::decode` method, in the list of what the method throws, `DomainException` is missing. This happens for malformed JWT (like the one below).
Also, `InvalidArgumentException` is thrown too, even though in a different context.

I'd suggest adding these lines:
[code]

The doc comment makes devs (me 🤷‍♂️) assume that it is enough to catch the

[2020-11-04 11:56] dakujem commented on #312
On the second thought, I believe that this is a token-related issue and should be caught and rethrown as an instance of `UnexpectedValueException`.

Rationale:
[code]

I believe both tokens are malformed and should result in the same kind of exception for consistency. Any thoughts?

[2020-11-10 07:13] #311 closed

[2020-11-19 13:07] rutek opened #313 "Invalid phpdoc typehint for $key in JWT::encode"
JWT::encode function has type hint which says that only `string` can be used as key. It's not true as nested function `JWT::sign` accepts openssl resources (instance of key loaded through openssl). I can confirm using openssl loaded key works great, it's just matter of typehint.

https://github.com/firebase/php-jwt/blob/1fae8c46348ed6da8a56deaff282034cb57673e0/src/JWT.php#L154

This phpdoc value s

[2020-11-25 11:58] sahakavatar opened #315 "Replicating claims as headers is deprecated and will removed from v4.0"
"Replicating claims as headers is deprecated and will removed from v4.0. Please manually set the header if you need it replicated."
what is this and how can I fix it ?

[2020-11-25 17:08] drjoju commented on #315
At this moment the only solution I found is to downgrade the library p

"lcobucci/jwt": "3.3.0"

In composer.json

I found the solution here.

https://stackoverflow.com/questions/65004207/laravel-passport-7-5-1-replicating-claims

[2020-11-26 16:24] akkivarma10 commented on #302
Hi, any update on when this fix is going to be released ? @bshaffer

[2020-12-02 18:51] Pointotech commented on #294
This seems like a ticket worth closing.

[2020-12-10 17:14] mapkyca commented on #65
I'm running into this myself - `ExpiredException` is uncatchable by using either `\Firebase\JWT\ExpiredException` or `\Exception`

Any solution? This is kind of critical to my code.

[2020-12-15 12:37] ijsucceed commented on #50
Thanks, @Klerith , it worked for me.

[2020-12-18 09:58] rejalex commented on #199
Thank you  I guess this thread is  old, but that dumb mistake from  @dextermb saved my day

Thank you for asking @dextermb on the dumb mistake, 'cause that dumb mistake saved my day.

[2020-12-18 13:20] andybeak opened #316 "UnexpectedValueException : "kid" invalid, unable to lookup correct key"
When using the code below the `$keys` variable is populated with an associative array of the `kid` to a resource (as documented).

[code]

However. this code fails with `UnexpectedValueException : "kid" invalid, unable to lookup correct key`

[2020-12-30 03:52] JorgeSivil opened #318 "How can I use a private key with a passphrase?"
The encode() method accepts only the key, but there's no way to pass a passphrase.

Is it possible to use?

[2021-01-06 21:34] mooreds commented on #318
From looking at https://github.com/firebase/php-jwt/blob/master/src/JWT.php it looks like the signing uses https://www.php.net/manual/en/function.openssl-sign.php which doesn't appear to handle a passphrase.

[2021-01-18 19:52] andreszs commented on #219
This should be present in the **README** file, otherwise how are developers supposed to integrate the decode methods? Raising undocumented errors is not a very polite way of programming in any language.

[2021-01-22 02:20] csev opened #319 "I suggest that JWK::parseKey() be made public"
There are situations where we want to parse a key that is not always part of a keyset.  Perhaps we stored the key in session or in a database - or perhaps in a unit test.

[2021-02-02 04:58] nehamcs commented on #315
update composer to "lcobucci/jwt:3.3.3" this

[2021-02-05 14:48] drupol commented on #318
That's not true.

Actually, `openssl_sign()` needs a private key `priv_key_id` which can be either in a string or a resource.

If you want to use a private key with a passphrase, you just need to use:

[code]

[2021-02-09 22:49] bshaffer commented on #319
@csev You can always call `JWT::parseKeySet(['keys' => $key']);`, so I don't understand why it is necessary to make `parseKey` public.

[2021-02-10 20:03] csev commented on #319
Thanks - that makes a lot of sense.   It is good enough for me.

[2021-02-11 22:01] CsabaBecskei commented on #302
Hi @bshaffer,
I'm also waiting for this to be merged https://github.com/firebase/php-jwt/pull/303

[2021-02-11 23:57] bshaffer commented on #302
Thanks for the summons! I'll merge and tag this right away.

[2021-02-12 00:02] #302 closed

[2021-02-24 21:21] jimhlad commented on #316
Bumping into this error as well.

Wondering if anyone has managed to find a resolution?

[2021-03-05 21:37] #300 closed

[2021-03-17 07:04] thnardi commented on #289
Same problem here. I noticed you are using $privateKey in the code you show here. Have you tried using your $pubkey? Here the error are the same, even me using the public key.

[2021-03-17 21:43] vgavrilovikj commented on #289
I didn't find a fix..... @thnardi

[2021-03-17 21:56] lindelius commented on #289
The issue is most likely that the key is badly formatted. A common error is that the newlines are just "\n" in plaintext, instead of actual newlines.

[2021-03-18 03:04] thnardi commented on #289
I found a solution to my problem... @lindelius is right... it is about the badly formatted key. In my case, i've a auth api with a endpoint that returns the public key, to other servers decode token.. The API is build with slim framework and was returning in a PSR response with this line of code: `return $response->withJson($data['public']);`

And don't dig too mutch, just change it and force a `e

[2021-03-18 11:18] melvinkoopmans opened #321 "Check for RSA private keys in JWK is not specific enough"
The `Firebase\JWT\JWK` class checks if the JWK contains the `"d"` key to check for private keys (which are not supported). However, some vendors pass this key as `null` in the JWK even though it doesn't contain a private key. Now I have to `unset` those keys before passing the JWK to the `parseKeySet` function.

I would suggest checking if it's present **and** not null before throwing this excepti

[2021-03-19 06:28] simonknittel commented on #319
I've just stumbled upon an implementation in which the JWT doesn't contain a kid. Therefore parseKeySet wasn't able to find the correct key. Being able to directly call parseKey would help here.

[2021-03-22 21:27] MitchellMcKenna commented on #316
This may not be the cause of your issue, but I was experiencing this issue with apple login, found out the public keys we were using were out of date, and when we passed those to `JWK::parseKeySet()` it was causing this same error message.

[2021-03-28 10:05] Angwa commented on #199
Hello @dextermb . I can't figure how you solved this problem. I am using core php and not laravel. Any more explanation will be of great help. Thank you

[2021-04-01 22:43] markCornejo commented on #83
@parmap

I have tested this code and it generates a new different token. I thought that this code refreshes me the lifetime of my original token. But it generates a new one for me.
No way to refresh the same token without changing it?

[2021-04-08 17:37] zcmack opened #325 "Allow for claim validation to be set optionally"
According to the ietf spec [jwt ietf spec](https://tools.ietf.org/html/rfc7519#section-4.1) the `nbf`, `iat` and `exp` claims are OPTIONAL.

The library should allow for skipping these claims in addition to setting an acceptable leeway value.

[2021-04-09 08:47] Krisell commented on #325
Aren't they already implemented as optional in this library? You can simply skip adding them to the payload.
When decoding, they are checked if they are present in the JWT, that should not be optional, right?

Also, the leeway can be set via the public static proprerty.

[2021-04-10 15:29] Krisell commented on #306
According to the spec, the `"sub"`value must be a `StringOrURI`, i.e. it needs to be quoted, as the error message says.

[2021-04-10 16:21] kimthangatm commented on #289
Same error in Php 7.3 in MacOS Big Sur. I switch to Php 7.2, it work.

[2021-04-12 21:53] zcmack commented on #325
i think that implies coupling between client and server. i, as the validator of tokens would like to decide if i am going to validate the claims within, whether or not a given client includes said claims in the token. not a big deal if you don't want to introduce this, i can switch libraries. this would have just saved me some time. 😀

[2021-04-12 23:18] lindelius commented on #325
Just out of curiosity, how does this cause a problem? @zcmack

[2021-04-12 23:43] zcmack commented on #325
my particular issue is with `iat` and is related to time drift on some client nodes running in data centers that i don't control. i know i can configure leeway to adjust for this but with the level of inconsistency i'm seeing (sometimes validation occurs "before" issued, sometimes "after"), setting an arbitrarily large leeway and having it apply to all claims feels a bit heavy handed compared to s

[2021-04-13 11:48] lindelius commented on #325
Thanks for sharing your use case :)

I would say that there are 2 "real" solutions to that problem, however, I do understand that neither might be an option for you at this time. I am going to list them here anyways, though, in case they might be alternatives for someone else:
- Fix (or at least minimize) the clock skew and then set a reasonable leeway time, if still needed
- Stop including the `i

[2021-04-13 17:22] #325 closed

[2021-04-15 21:12] thomasroine opened #327 "Add support for ES256 in JWK.php"
My jwt is signed with ES256 and I download the dynamic keys fron an JWKS endpoint. But I can't use the JWK (JWK.php) class to create the keys since it only supports RSA.

Could you please implement support for ES256?

[2021-04-16 07:29] dmytro-skelia commented on #315
I had the same issue with Laravel upgrade 5.5->5.6. We don't have `lcobucci/jwt` in out composer.json and composer desided by itself to use 3.4.* because symfony has a depency on it. I had to specify explicitly "lcobucci/jwt:3.3.3" in composer.json as it was recommended above.

[2021-05-03 14:02] CodeNinja1337 commented on #201
You can decide how you return the token your self in the `AuthController.php`.
Simply adjust the `login` function E.g. in something like this.
[code]

[2021-05-07 08:44] michael-bouvy commented on #318
Took me some time but eventually figured out how to achieve this:

[code]

Although `encode` method's signature states that `key` param should be a string, it works perfectly fine passing a key resource, which is eventually passed to `openssl_sign` function, accepting such resource as `private_key` param.

[2021-05-14 20:53] kamazee commented on #319
Same here.
To get a single key, `JWT::parseKeySet(['keys' => [getkey($id)]])[$id]` is required instead of just `JWT::parseKey(getKey($id));` (where `getKey($id)` is a function that returns a key by its ID that is passed in a JWT header)
While the former is indeed possible, it's clearly quite a mental roundtrip while the latter shows the intent pretty clearly.

@bshaffer , any chance to reconsider?

[2021-05-17 15:21] bshaffer commented on #319
I can't see an issue with making it public if there's a use-case for it

[2021-05-17 16:49] bshaffer commented on #321
fixed in #330

[2021-05-17 16:49] #321 closed

[2021-05-20 03:13] bshaffer commented on #318
Thanks @michael-bouvy! We should update the phpdoc and README to show this!

[2021-05-20 07:02] michael-bouvy commented on #318
I'll create a PR quickly.

[2021-05-20 17:24] bshaffer commented on #318
@michael-bouvy I created one here!

https://github.com/firebase/php-jwt/pull/335

[2021-05-20 17:38] #318 closed

[2021-05-26 16:54] tobiasb opened #336 "Supported public keys"
I'm trying to decode a JWT signed by a ES256 key via `$decoded = JWT::decode($jwt, $key, array('ES256'));`. This is the public key:

[code]

I'm getting the following error: `Uncaught UnexpectedValueException: No supported algorithms found in JWK Set in /var/www/vhosts/avaaz.org/releases/repo/vendor/firebase/php-jwt/src/JWK.php:55` and looking at that file it seems that indeed only `RSA` is suppor

[2021-05-27 22:06] bshaffer commented on #336
Unfortunately that is currently the case, yes. JWKs only support RSA. I'll experiment with adding it this week, however, as it seems like an obvious need.

[2021-05-27 22:07] bshaffer commented on #336
Closing as a duplicate of https://github.com/firebase/php-jwt/issues/337

[2021-05-27 22:07] #336 closed

[2021-06-02 12:11] istvan-szerletics opened #339 "Add Support of EC (Elliptic Curve) for JWKS"
Hello together,

first of all I wanted to say thank you for developing this great library. I used the library very very much.

Our company has a problem at the moment, we have "ES256" tokens with EC method, and as I saw it in JWK.PHP "kty"="EC" is not supported, but only RSA. It would be super important to us because we have a very important customer, and for security reasons we need to validate t

[2021-06-03 17:47] zablik opened #340 "Why RSA private keys are not supported?"
It's not an issue, but I need some help with my case.

I guess there should be a reason for this, but why RSA private keys are not supported?
What can you recommend to use if I need to decode JWT using RSA private key, with this "d" key?

Thanks!

[2021-06-09 06:48] istvan-szerletics commented on #339
Hey, can you help me and answer my question?

[2021-06-15 10:56] polpoy opened #341 "Signature verification failed with HS256 & private key + passphrase"
I want to create a JWT, but then I decode to check it, there is an error : Signature verification failed.
I have a private key with a passphrase so I use openssl_pkey_get_private like in your documentation.

[code]

JWT::encode shows a warning : hash_hmac() expects parameter 3 to be string, resource given in /data/lg/adserving/ad3/vendor/firebase/php-jwt/src/JWT.php on line 211.
And JWT::decoded s

[2021-06-15 11:07] polpoy commented on #341
I didn't use the good private key.

[2021-06-15 11:07] #341 closed

[2021-06-16 10:38] istvan-szerletics commented on #339
HEYY BRO, WHATS UPP? can you at least answer???

[2021-06-17 02:10] studyzhanglei opened #342 "How can i decode the token with golang example?"
Thank you.

[2021-06-17 02:46] studyzhanglei commented on #342
I decode it success by "github.com/dgrijalva/jwt-go", thank you.

[2021-06-17 02:46] #342 closed

[2021-06-17 20:00] pwolanin commented on #339
Looks to be the same as https://github.com/firebase/php-jwt/issues/327 ?

[2021-06-18 06:39] istvan-szerletics commented on #339
Yes, I think it is same problem. Can you help us?

[2021-06-18 18:35] pwolanin commented on #339
Sorry, don't have any availability to do consulting. I'm only using the JWT part anyhow, not JWK.   Seems like the maintainers here are not too active, but yelling at them is not going to help.

You should at least fork and try adding the feature in a PR - I just made a start on Ed25519 keys for JWT: https://github.com/firebase/php-jwt/pull/343

[2021-06-21 21:09] mosi2142 commented on #119
@cottton thank you for your explanation it helped me a lot,
i just have a question and im really confused about it, i really appreciate if you can help me with it
my question is :
if lets say a hacker somehow get the access token and refresh token of the user
how can i know that ?
i mean if the hacker get the user token then he is no different with the actual user right ?
so is there any suggestio

[2021-06-21 21:12] katowulf commented on #119
Access to the refresh and access tokens would imply access to the physical device or successful execution of some sort of man-in-the-middle. So there would be no way to differentiate.

[2021-06-21 22:26] mosi2142 commented on #119
not necessarily should access the physical device in order to steal the user token,
im sure there is always way to steal token without accessing the physical device such as Xss attack or Listening or etc...

[2021-06-22 18:05] #319 closed

[2021-06-25 08:18] guohanmeng opened #345 "a bug"
![image](https://user-images.githubusercontent.com/10897119/123393335-8f5bbd00-d5d0-11eb-92bb-6405b7533ea7.png)

![image](https://user-images.githubusercontent.com/10897119/123393233-78b56600-d5d0-11eb-8147-63353110a49d.png)
![image](https://user-images.githubusercontent.com/10897119/123393467-b74b2080-d5d0-11eb-9975-bff2a475d842.png)

我现在获取的$errno 是 4 找不到对应的 messages ，数组key和获取的errno 不对等

[2021-06-28 11:08] cottton commented on #119
If somebody gets the token
then its the same as the attacker got access to the login.

The client responsible to store the token.
Most important is the refresh token, since you can create more|new access token with the refresh token.
The access token is (in best case) expired in some min.

You cannot know, as @katowulf said.
What you can do is provide the user a logout.
Logout means:
- user calls

[2021-06-29 15:45] ValentinRgt opened #346 "Update timestamp date"
I know 2038 is not yet here but it will happen someday ...
We should consider upgrading timestamp to datetime that would be much better I think.

[2021-06-29 22:18] 6562680 opened #347 "[ FEATURE ] Parse invalid token"
Currently library throws exception on decode if token is invalid.
Sometimes you need to get payload of the token to refresh it with old data
So token is valid but expired or not-before invalid

How about non-runtime exceptions or maybe additional method "parse" that you call if exception was thrown

Thank you

[2021-06-30 13:51] Krisell commented on #346
The only place `timestamp` is referenced in the codebase is as a variable name.
If you refer to the php function `time()`, it returns a 64 bit integer on 64 bit systems, so no problem there.

Could you clarify what the issue is?

[2021-06-30 13:56] Krisell commented on #345
You have to rewrite this in english for the maintainers and us (users) to understand your problem.

If you think there is a bug in the code, you should write clear steps to reproduce this or (even better) a failing test.

If you mean that you hit `JSON_ERROR_DEPTH`, the problem is with your data and not this package.

[2021-06-30 20:53] cottton commented on #347
BIG NO from me.

TL;DR: let the auth server create a new token.

See https://github.com/firebase/php-jwt/issues/119

You should never ever re-use the payload of an invalid token.

Q: "The token is just expired. I know from the code that the signature has been checked before, so i can use the payload."
A: And what if the code gets a change so the signature validation gets moved below the expired-ch

[2021-07-01 17:54] 6562680 commented on #347
I agree with your notes, but, please, listen to me
The token stores user data that could (but not should) be in the database. Of course usually token its just a mirror of maybe roles/permissions/user_name/full_name/avatar of the user.

While refreshing we can get actual values to create new token.

How about JWT could be used to deliver session between backends ?

[2021-07-04 11:08] #346 closed

[2021-07-05 13:07] cottton commented on #347
1. thats to general for me. What you mean by "deliver sessions" ?
Do you mean the JWT contains the session id ? Or the session content?
In case session id: why? You could use the id in the header. Why extra packing it into a header with a auth token (JWT).
In case session content: _i dont know any example where this would make sense. So - why :)_

2. You did not read the https://github.com/firebas

[2021-07-09 12:53] irvine48 commented on #315
`- kreait/firebase-tokens 1.15.0 requires lcobucci/jwt ^3.4.1|^4.0 -> found lcobucci/jwt[3.4.1, ..., 3.4.x-dev, 4.0.0-alpha1, ..., 4.2.x-dev] but it conflicts with your root composer.json require (3.3.3).`

how to change change it to 3.3.3?

[2021-07-12 09:41] mosi2142 commented on #119
Thank you for replying i really appreciate it.
just one thing to add up,
is it okay to hash the refresh token and then store it to db ?

[2021-07-18 21:05] cottton commented on #119
You cannot know by the token it self.
Its the same like somebody got the username and pw of a user.
You COULD add more security like location limitations|checks, 2-auth, ... . But that is on top of JWT, so ... .

If you mean with "hash" to store it like a pw _(PHP `password_hash()`)_
and then compare hash vs hash _(with PHP `password_verify()`)_
then ... hm, kind of yes.
Didnt thought about that.

[2021-07-18 21:16] cottton opened #348 "How do you store refresh tokens?"
_I suggest to NOT post how you store your tokens. Dont give hints out in the public._
_This post here is more to bring attention to this topic, so ppl do not store refresh tokens as plain text in the db._

Background: https://github.com/firebase/php-jwt/issues/119#issuecomment-882116462

TL;DR: plain text refresh token in db means if there is a db leak, then the attacker can login with the token.

[2021-07-26 14:12] igoluciano opened #349 "Error em shared web server"
Friends, I'm using JWT right on my local machine with codeigniter 4 and then when I send my application to a shared web server it works in parts, like, I register a new user, get the token from the database and when I do some action with the token that gives me authorization to continue the same returns me status 401 .... can someone help me?

[2021-07-26 16:06] Krisell commented on #349
This is not a support forum. What you are describing does not sound like a problem with this JWT package, but rather with your application or Codeigniter. I suggest you try to seek help from a support channel instead.

If you still think there is a bug in this package, you need to describe the problem in much more detail and provide steps to reproduce this in a minimal example.

[2021-07-30 01:03] Andiyanga opened #350 "Cannot handle token prior to (time) error - How to resolve"

[2021-07-30 01:10] Andiyanga commented on #350
I tried to decode a generated jwt with _**JWT::decode()**_ method. It threw an error message which reads "_Cannot handle token prior to 2021-07-30T02:16:20+0100_". I have tried to resolve the error by using _**JWT::$leeway**_ but it does not work. How may I resolve the error?
Thanks!

[2021-07-30 14:14] cottton commented on #350
"Prior" - so your token is valid in future.

See https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L132

Do not create tokens with a date (nbf (not before)) in the future?
Or use a larger leeway, which makes no sense to me, but ... . _The leeway applies to exp (expire) date too._

[2021-08-04 05:17] paragonie-security opened #351 "Possibility of Reintroducing HS256/RSA256 Type Confusion"
This is a follow-up to the [HS256/RS256 Type Confusion attack](https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/) against the JWT protocol.

Now, firebase/php-jwt attempts to side-step this risk by forcing the user to hard-code the algorithms they wish to support.

https://github.com/firebase/php-jwt/blob/d2113d9b2e0e349796e72d2a63cf9319100382d2/src/JWT.php#L103-L108

If

[2021-08-06 03:54] qumogu opened #353 "es256, error info ErrorException in JWT.php line 517 Uninitialized string offset: -7254937965535673998"
RS256，no problem,  but alg = ES256, have error info
` ErrorException in JWT.php line 517
Uninitialized string offset: -7254937965535673998
     * @param string $der the binary data in DER format
     * @param int $offset the offset of the data stream containing the object
     * to decode
     * @return array [$offset, $data] the new offset and the decoded object
     */
    private static functio

[2021-08-06 04:22] qumogu commented on #353
sorry, my problem.

es256  key  is not  the same as rs256 key

[2021-08-06 04:22] #353 closed

[2021-08-06 04:48] paragonie-security commented on #351
#352 contains a first draft pull request that *may* address this in a mostly backwards-compatible manner, but there's some thorny corner cases where it might fail (especially trying to distinguish between EdDSA vs HS256).

[2021-08-08 17:08] Hsiao-Feng opened #354 "Fatal error: Algorithm not allowed"
When I use an algorithm other than HS256 (e.g. HS512), PHP reports the following error:
[code]
I used the first example: https://github.com/firebase/php-jwt#example .

I'm using PHP 7.4, Ubuntu (WSL2).

[2021-08-09 13:27] Hsiao-Feng commented on #354
I know why - I should add algorithm in parameter like
[code]
 : )

[2021-08-11 07:49] paragonie-security commented on #351
Attached is a sample vulnerable application and proof of concept for this issue.

[php-jwt-poc.zip](https://github.com/firebase/php-jwt/files/6966712/php-jwt-poc.zip)

[2021-08-11 10:31] paragonie-security commented on #351
If anyone needs an immediate, short-term mitigation for this issue, see https://github.com/paragonie/php-jwt-guard

[2021-08-18 02:50] qusade-dev commented on #288
i can do this on local but when i try it on server it's not work. i have set my JWT, but it still give me message "Key may not be empty"

[2021-08-18 10:41] dimityrivanov opened #355 "Refresh token example"
Is there any example with working with refresh token and issuing new access token ?

[2021-08-18 10:46] Krisell commented on #355
The JWT standard does not have any concept of a "refresh token" or "access token".

You're probably referring to OAuth or some other standard, so you are more likely to find examples in places related to that rather than here.

[2021-08-18 12:14] dimityrivanov commented on #355
Whats the expected behaviour to do after token expiration on mobile device without loggin out the user ?

[2021-08-18 13:22] cottton commented on #355
Working code, no. Wrong place.
Examples|discussions about refresh token: https://github.com/firebase/php-jwt/issues/119#issuecomment-525464922

[2021-08-21 14:33] Yusufjon opened #356 "How can I catch the jwt token if its coming from external server"
In my case JWT tokens are coming from Wix bookings. I have given the url and with ngrok I am able to see the POST request with JWT tokens. I need to catch it and decode. However, currently I couldnt catch it. If anybody had the same experaince pls help me

[2021-08-23 11:06] mixones-open commented on #356
You can put the token parameter in the url or in the header, and then get the submitted parameters in the framework or parse the information in the header.

[2021-08-23 11:18] Krisell commented on #356
Your question doesn't make much sense (what does `catch it` mean, `$_POST['token']`?), and is definitely not related to an issue in this project. You are more likely to get help with this in basic web development forums.

[2021-09-06 05:29] Agneswanjiku commented on #194
I don't get the idea on what logic you used to solve the error at the postman end...

[2021-09-08 21:59] smartITNinja opened #357 "HTTP 500 during encode() in Docker"
The following encode() function fails when JWT runs in a Kubernetes Docker container

$tokenId    = 'my-token-id' ;
$issuedAt   = time();
$expire     = $issuedAt + 800;
 $data = [
        'iat'  => $issuedAt,
        'jti'  => $tokenId,
        'exp'  => $expire
    ] ;

$length = 15;

$today = date("m.d.y"); // e.g. "03.10.01"
$out = substr(hash('md5', $today), 0, $length); // Hash it
$secretKey

[2021-09-16 08:39] ayxos opened #358 "default encode algorithm"
I found the following code
[code]
What is the default encryption algorithm where third parameter is not defined?

[2021-09-16 09:00] #358 closed

[2021-09-16 09:00] Krisell commented on #358
It's HMAC-SHA256 (called HS256 in JWT-lingo).

![image](https://user-images.githubusercontent.com/25909128/133583262-afdef343-c772-4536-8397-125f9146e916.png)

[2021-09-16 09:01] Krisell commented on #357
"500" is not an error message, it's just the status code that is sent back to the client. The error message can be found in the server logs.

[2021-09-24 09:37] kdubuc commented on #68
I agree with the feature request.

In my case, I need to extract "iss" claim to fetch signing keys. So, I must copy/past some JWT.php code to decode payload, and, after that, re-decode with JWT::decode to verify signature, and check nbf / exp .... It works, but, it's not very pretty ...

We can easily make "verify" optional, the question is how ?

I can propose 2 solutions :

1. In https://github.